/* Fix for Block X not assigned to Block Y Known Error */
.db-offline .absolute-messages-message {
  display: none !important;
}

.token-group span.expander {
  margin-left: 0px !important;
}

body.admin-menu {
  margin-top: 0px !important;
}

body.admin-expanded.admin-vertical.admin-nw, body.admin-expanded.admin-vertical.admin-sw {
  margin-left: 260px !important;
}

.ckeditor_links {
  margin-bottom: 20px;
  display: block;
}
