/**
 * Stylesheet for WetKit Profile
 */

/* Installation Screen */

#wetkit-theme-selection-form .form-item-theme {
  clear: both;
  margin-top: .5em;
  margin-bottom: .5em;
}

#wetkit-theme-selection-form .form-item-theme label img {
  float: left;
  width: 100px;
  margin-right: 1em;
}

body.maintenance-page #logo {
  background:transparent url(../images/wetkit_icon_install.png) no-repeat top left;
  height:0;
  overflow:hidden;
  padding-top: 180px; /* height of logo  */
  width: 180px; /* width of logo  */
}

#admin-menu .dropdown li li.expandable ul {
  margin: -22px 0 0 160px !important;
}

.in-maintenance input[type="image"] + label, 
.in-maintenance input[type="checkbox"] + label, 
.in-maintenance input[type="radio"] + label {
 display: inline;
}

/* Revision Screen */

.page-node-revisions div img.panopoly-image-half  {
  float: none;
  width: auto;
}

/* Panels Screen */

#modal-content .form-item {
  position: static;
  border: none;
  padding: 0px;
}

#modal-content .form-wrapper.form-actions {
  border: none;
  background: none;
}