/** Stylesheet for WetKit Profile */
/* Installation Screen */
#wetkit-theme-selection-form .form-item-theme { clear: both; margin-top: .5em; margin-bottom: .5em; }
#wetkit-theme-selection-form .form-item-theme label img { float: left; width: 100px; margin-right: 1em; }

.in-maintenance input[type="image"] + label, .in-maintenance input[type="checkbox"] + label, .in-maintenance input[type="radio"] + label { display: inline; }

.in-maintenance #edit-theme img { display: block; width: 275px; }
.in-maintenance .messages { padding: 10px 10px 10px 10px; }

/* Global Fixes */
.krumo-footnote img { width: auto !important; }

/* Media Browser */
body.page-media-browser { min-width: auto; }

.media-list-thumbnails li a { width: 100px; height: 100px; }
.media-list-thumbnails .media-item { height: 100px; }
.media-list-thumbnails .media-item img { width: auto; max-width: 90px; max-height: 90px; }
.media-list-thumbnails .media-item .label-wrapper label { white-space: normal; word-wrap: break-word; line-height: 0; }

.media-display-thumbnails .media-list-thumbnails .form-type-checkbox { bottom: 25px; left: 8px; width: 10px; border: none; }
