/** Stylesheet for Installation Profile */
#wetkit-theme-selection-form .form-item-theme { clear: both; margin-top: .5em; margin-bottom: .5em; }
#wetkit-theme-selection-form .form-item-theme label img { float: left; width: 100px; margin-right: 1em; }

.in-maintenance input[type="image"] + label, .in-maintenance input[type="checkbox"] + label, .in-maintenance input[type="radio"] + label { display: inline; }
.in-maintenance #edit-theme img { display: block; width: 275px; }
.in-maintenance .messages { padding: 10px 10px 10px 10px; }
