#panelizer-settings-form .tabs {
  position: relative;
  right: 0px;
}

.form-item .form-autocomplete {
 padding: 0px 4px;
}

#gcwu-srchbx label {
  height: auto !important;
  width: auto !important;
  overflow: visible !important;
}

.krumo-footnote img {
  width: auto;
}

/* Field Archived Content */
.form-item-field-archived-content-und {
  margin-top: 0px;   
}

/* Field Featured Image */

#node-edit .form-item-field-featured-image-und-0-title label {
font-weight: normal;
float: left;
margin: 4px 10px 0 0;
}

#node-edit #edit-field-featured-image-und-0-title {
width: 180px;
}

/* Admin Menu Override */

ul li.admin-menu-search {
  display: none;
}

/*
 * Fix up Rubik Compatibility
 */
 
.tao #branding {
    text-shadow:#222 0 1px 1px;
    background: none;
    background-repeat:repeat-x;
    background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#176ca7),color-stop(100%,#135888))!important;
    background-image:-webkit-linear-gradient(#176ca7,#135888)!important;
    background-image:-moz-linear-gradient(#176ca7,#135888)!important;
    background-image:-o-linear-gradient(#176ca7,#135888)!important;
    background-image:linear-gradient(#176ca7,#135888)!important;
    height: 35px;
}

.tao .action-links a {
  color: white;
}

.tao .primary-tabs li.active {
    text-shadow:#222 0 1px 1px;
    background: none;
    background-repeat:repeat-x;
    background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#176ca7),color-stop(100%,#135888))!important;
    background-image:-webkit-linear-gradient(#176ca7,#135888)!important;
    background-image:-moz-linear-gradient(#176ca7,#135888)!important;
    background-image:-o-linear-gradient(#176ca7,#135888)!important;
    background-image:linear-gradient(#176ca7,#135888)!important;
}

.tao table th,
.tao .item-list h3, .tao .block .block-title, .tao .fieldset-title, .tao .collapsible .fieldset-legend a,
.tao .admin-panel h3 {
    text-shadow:white 0 1px 1px;
    background-repeat:repeat-x;
    background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#eee),color-stop(100%,#dcdcdc))!important;
    background-image:-webkit-linear-gradient(#eee,#dcdcdc)!important;
    background-image:-moz-linear-gradient(#eee,#dcdcdc)!important;
    background-image:-o-linear-gradient(#eee,#dcdcdc)!important;
    background-image:linear-gradient(#eee,#dcdcdc)!important;
}

.tao #branding .breadcrumb { font-size: 13px; }

.tao #branding ul.links a {
  background: none;
  padding: 10px 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.tao #branding .breadcrumb a, 
.tao #branding .breadcrumb strong {
  background: none;
  padding: 10px 20px;
}

.tao .form-item .description, .description { color: #000; }

.tao a { color: #145E91; }