
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * Target IE 6, 7 and 8 (less than IE9)
 */

/*
 * Assuming a mobile first approach with respond.js OFF, we must reset the font
 * size for lt IE9
 */
/*html {
  font-size: 81.3%;s
}*/

#node-edit {
    label { min-width: 5%; vertical-align: top; margin-right: 8px;}
    .form-item-path-alias label { margin-right: 0;}
    .form-actions input { *padding: 0; *height: auto; }
    .container-inline-date .form-item-date-time { width: 100%; }
}

#gcwu-srchbx {
    fieldset.custom_search-popup { 
        margin-left: 12px;
        left: 0;
        margin-top: 2px;
        /* for ie8 compat and 7 */
        *margin-top: 30px;
        label { *position: absolute !important; }
    }  
   
   .form-actions { *margin-left: -20px; }
}