/*
 * Drupal Core
 */

.field-label-inline .field-label { margin: 0; }

.page-node-add,
.page-node-edit {
  fieldset {
    border: 1px solid #ccc;
    padding: 2.5em 0 0 0; /* LTR */
    position: relative;
    margin: 1em 0;
    legend { height: 0px }
    .fieldset-legend {
      margin-top: 0.5em;
      padding-left: 15px; /* LTR */
      position: absolute;
      text-transform: uppercase;
    }
    .fieldset-wrapper { padding: 0 13px 13px 15px; /* LTR */ }
    fieldset.collapsed { background-color: transparent; }
    fieldset {
      background-color: #fff;
      fieldset { background-color: #f8f8f8; }
    }
  }
}

html.js .page-node-add,
html.js .page-node-edit {
  fieldset.collapsed {
    border-width: 1px;
    height: auto;
  }
}

.panels-ipe-editing #wb-sec-in {
  margin-top: 0px;
}
.contextual-links-wrapper {
  z-index: 10;
}

figure {
  display: block;
  margin: 0px;
  padding: 0px;
}

.node {
  margin-bottom: 0px;
}

.profile {
  dl {
    margin-left: 10px;
    margin-right: 10px;
  }
}

ul {
  &.tabs {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*
 * Drupal Contrib: Adaptive Theme
 */

#breadcrumb, .breadcrumb-wrapper {
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  max-width: none !important;
}

.field-name-field-featured-image-form .image-preview {
  float: none;
}

#node-edit .image-widget .form-submit, #node-edit .file-widget .form-submit {
  display: inline;
}

#node-edit .form-actions input {
  display: inline;
}

.maintenance-page #main-content #content {
  padding: 10px;
}

#main-content #tasks ul.tabs {
  margin-bottom: 20px;   
}

/*
 * Drupal Contrib: Custom Search
 */

fieldset.custom_search-popup {
  z-index: 99 !important;
  width: 198px;
  background-color: white;
  padding: 0px 10px;
  border: 1px solid #DDD;
  a {
    color: black !important;
  }
  label {
    position: relative !important;
  }
  .form-item {
   text-align: left;
  }
}

.search-form {
  #edit-actions {
    display: inline;
  }
  .form-actions {
    display: inline;
  }
  .form-item-custom-search-blocks-form-1 {
    display: inline;
  }
}

/*
 * Drupal Contrib: Panels
 */

.panels-ipe-placeholder h3 {
  background: none;
  padding: 0px;
}

.panels-ipe-newblock li {
  list-style: none;
  float: left;
}

.page-node-edit .pane-page-tabs #tabs {
  margin: 20px 0px 0px 0px;
}

.page-node-edit .pane-page-tabs ul.tabs {
  margin: 0px 0px;
}

.page-node-add label[for="edit-language"],
.page-node-edit label[for="edit-language"] {
  display: inline    
}

.page-node-add .node-form h3.pane-title,
.page-node-edit .node-form h3.pane-title {
  background: #DDD;
  padding: 2px 4px;
}

.pane-page-tabs #tabs {
  margin-bottom: 20px;
}

.region-wetkit-33-66-second {
  width: 95%;
}

/*
 * WET-BOEW
 */

#gcwu-bnr {
  z-index: 99 !important;
}

#gcwu-bnr-in {
  #gcwu-title {
    margin-top: 0px;
    padding-top: 7px;
    margin-bottom: 0px;
  }
}

#gcwu-psnb {
  .wet-boew-megamenu {
    z-index: 98 !important;
  }
  .mb-menu {
    z-index: 98 !important;
  }
}

#gcwu-connect {
  .boxes-box-controls {
    .cancel {
      display: none;
    }
  }
}

.gcwu-minister-in{
  background-color: #EEE;
}

.gcwu-minister p{
  background-color: #FFF;
}

#wb-head, #wb-head-in, #gcwu-bnr, #gcwu-bnr-in  {
  overflow: visible !important;
}

#wb-aside {
  display:inline;
  margin-left:10px;
  margin-right:10px;
 ul{
    list-style:none;
    margin:0;
    padding:0;
  }
  ul li{
    margin:0;
    padding:0;
  }
  img {
    margin-left:0;
    margin-right:0;	
  }
  .gcwu-minister-img img {
    width:auto !important;
    height:auto;
  }
}

/*
 * Open Layers
 */

/* Override max-width 100% for map displays */
.gmap,
.view-gmap,
.openlayers-map,
#getlocations_map_canvas {
  img { max-width: none; }
}