# Ignore Development Files
compass_app_log.txt
*.DS_Store
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.sass-cache

# Ignore Contributed Modules
/modules/

# Ignore Contributed Libraries
/libraries/

# Ignore Contributed Themes
/themes/
