# Ignore Development Files
.DS_Store

# Ignore Contributed Modules
/modules/contrib/*
/modules/experimental/*

# Ignore Contributed Libraries
/libraries/*

# Ignore Contributed Themes
/themes/adaptivetheme
/themes/genesis
/themes/mobile_jquery
/themes/rubik
/themes/tao
/themes/zen

# SCSS + Compass Development Files
/themes/web_usability_zen/.sass-cache/
/themes/wetkit_adaptivetheme/.sass-cache/
compass_app_log.txt
/modules/custom/wetkit_wetboew/.sass-cache/
/modules/custom/wetkit_demo/.sass-cache/
/modules/custom/wetkit_widgets/.sass-cache/
/modules/custom/wetkit_wysiwyg/.sass-cache/