# Ignore Development Files
.DS_Store
compass_app_log.txt
.sass-cache/

# Ignore Contributed Modules
/modules/contrib/
/modules/panopoly/

# Ignore Contributed Libraries
/libraries/

# Ignore Contributed Themes
/themes/adaptivetheme/
/themes/responsive_bartik/
/themes/rubik/
/themes/tao/
