/**
 * CSS Overrides to TinyMCE Table Layout
 * to allow table layout necessary for
 * PDW plugin to work properly 
 */
table.mceToolbar td {
 display: inline-block;
}

/**
 * TinyMCE WYSIWYG styling
 */
table.mceLayout {
  font-size: 1em;
}

.o2k7Skin table.mceLayout .mceListBox {
  padding-left: 0;
}

.o2k7Skin table.mceLayout .mceOpen {
  height: 24px;
}

/**
 * Markitup! Styling
 */
div .markItUp {
  width: 100%;
}

div .markItUpHeader {
  background-color: #DFDFDF;
  height: 28px;
  padding-top: 1px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
}

div .markItUpHeader ul li {
  border: 1px solid #CCC;
  background-color: #EEE;
  border-radius: 4px;
  margin-left: 2px;
  margin-top: 2px;
}

div .markItUpHeader ul a {
  margin: 2px 4px;
  padding: 0;
}
