/* Map Widget */
div.pane-bundle-map {
  overflow: hidden;
}

/* File Widget */
img.file-icon,
div.file-widget img {
  vertical-align: middle;
}

/* Video Widget */
div.pane-bundle-video .media-youtube-preview-wrapper,
div.pane-bundle-video .media-video-preview-wrapper,
div.pane-bundle-video iframe {
  height: 100%;
}

/* Table Widget */
table.mobile-table { 
  display: none;
}

/* Table Widget - Responsive */
@media only screen and (max-width: 480px) {

  table.tablefield {
    display: none;
  }

  table.mobile-table {
    display: block;
  }

  table {
    margin: 50px; 
    td, th {
      padding: 10px;
      text-align: left;
    }
  }

  .mobile-table {
    tbody tr:nth-child(odd) {
      background: #eee;
    }
  }

  .mobile-table tr {
    width 50%;
  }

  .mobile-table tr.even th,
  .mobile-table tr.even {
    color: #000;
    background: #fff;
  }

  .mobile-table tr.odd th,
  .mobile-table tr.odd {
    color: #000;
    background: #eee;
  }
}

/* Spotlight Widget - General Components */
.pane-bundle-spotlight .ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em/*{fsDefault}*/; }
.pane-bundle-spotlight .ui-widget .ui-widget { font-size: 1em; }
.pane-bundle-spotlight .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
.pane-bundle-spotlight .ui-widget-content { border: 0px solid #aaaaaa/*{borderColorContent}*/; background: transparent/*{bgColorContent}*/ /*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.pane-bundle-spotlight .ui-widget-content a { color: #222222/*{fcContent}*/; }
.pane-bundle-spotlight .ui-widget-header { border: 0px solid #aaaaaa/*{borderColorHeader}*/; background: transparent/*{bgColorHeader}*/ /*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.pane-bundle-spotlight .ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Spotlight Widget - Tabs Styles */
.pane-bundle-spotlight .ui-tabs { position: relative; padding: 0em; zoom: 1; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 1px solid #AAAAAA !important; padding: 0; white-space: nowrap; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-nav li a { float: left; padding: 0px 10px; text-decoration: none; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 0px; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0em; background: none; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-hide { display: none !important; }

/* Spotlight Widget - Specific Overrides and Styles */
.pane-bundle-spotlight .ui-tabs-nav { position: absolute; right: .7em; top: .7em; }
.pane-bundle-spotlight .panopoly-spotlight-wrapper { position: absolute; left: 0px; bottom: 0px; }
.pane-bundle-spotlight .panopoly-spotlight-wrapper h2 { margin: 0; }
.pane-bundle-spotlight .panopoly-spotlight-wrapper h2 a { text-decoration: none; color: #FFFFFF; }
.pane-bundle-spotlight .panopoly-spotlight-wrapper p { font-size: .8em; margin: 0; line-height: 1.2em; margin-top: 5px; }
.pane-bundle-spotlight .panopoly-spotlight-label { background-color: #FFF; width: 200px; max-width: 50%; opacity: .75; }
.pane-bundle-spotlight .panopoly-spotlight-label { padding: .3em .7em; margin: 0px; }
.pane-bundle-spotlight .panopoly-spotlight-info { padding: .7em; background-color: #000000; color: #FFFFFF; opacity: .75; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-nav li.ui-state-default { background: none; background-color: #000; opacity: .75; border: 1px solid #000000 !important; border-top-left-radius: 0px; border-top-right-radius: 0px; }
.pane-bundle-spotlight .ui-state-default a { color: #FFFFFF; }
.pane-bundle-spotlight .ui-tabs .ui-tabs-nav li.ui-state-active { background-color: #FFFFFF; }
.pane-bundle-spotlight .ui-state-active a { color: #000000; }
.pane-bundle-spotlight .panopoly-spotlight .panopoly-image-full { border: 0; }
