/**
 * Title and body styling
 */
#node-edit #edit-title {
  font-size: 2em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *width: 98%; /* IE 7 and below, as far as I know */
}

#node-edit .form-item-title {
  margin-bottom: 0;
  padding-bottom: .25em;
}

#node-edit .form-item-title label {
  display: none;
}

#node-edit #edit-body .form-type-textarea {
  padding-top: .25em;
}

#node-edit #edit-body {
  width: 100%;
}

/**
 * Pathauto styling
 */
#node-edit .form-item-path-alias label {
  float: left;
  font-weight: 400;
}

#node-edit .form-item-path-alias {
  margin-top: .25em;
  margin-bottom: .25em;
  padding: 0;
  font-size: .8em;
  vertical-align: middle;
  min-height: 1.2em;
}

#node-edit .form-item-path-alias input {
  margin-left: 4px;
  padding-top: 0;
  padding-bottom: 0;
}

#node-edit .form-item-path-pathauto {
  display: none;
}

/**
 * Publishing styling
 */
#node-edit .form-item-machine-name label, 
#node-edit .form-item-date label, 
#node-edit .form-item-name label {
  float: left;
  font-weight: 400;
  margin-right: 5px;
  margin-top: 5px;
}


/**
 * Form action button styling
 */
#node-edit .form-actions input {
  border: 1px solid #ccc;
  margin-bottom: .5em;
  margin-right: 1em;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande',  verdana sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  ); 
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  padding: 0 13px 1px;
}

#node-edit .form-actions input:hover {
  background: #E6E6E6;
  background-image: linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #C5C5C5),
  color-stop(1, #FAFAFA)
  );
}

#node-edit .form-actions input:active {
  outline: none;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
}

#node-edit .image-widget .form-submit, 
#node-edit .file-widget .form-submit {
  border: 1px solid #CCCCCC;
  margin-bottom: 0;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  padding: 0 13px 1px;
}

#edit-content-settings input.form-text {
  width: 98%;
}

#edit-content-settings .link-field-column {
  float: left;
  width: 49%;
}

#edit-content-settings .form-managed-file input {
  float: left;
  margin-top: .5em;
  margin-bottom: .5em;
}

/**
 * Menu Styling
 */
#node-edit .pane-node-form-menu .form-item-menu-parent label,
#node-edit .pane-node-form-menu .form-item-menu-link-title label {
  float: left;
  margin-right: 4px;
  font-weight: normal;
  width: 49px;
}

/**
 * Featured Category Styling
 */
#node-edit .field-name-field-featured-categories>.form-item-field-featured-categories-und>label {
  display: none;
}

/**
 * Featured Image Styling
 */
#node-edit .pane-node-field-featured-image h2 {
  margin-top: 5px;
}

#node-edit .form-item-field-featured-image-und-0-alt label {
  font-weight: normal;
  float: left;
  margin: 4px 10px 0 0;
}

#node-edit #edit-field-featured-image-und-0-alt {
  width: 180px;
}

#node-edit #edit-field-featured-image .form-item-field-featured-image-und-0 > label, 
#node-edit .form-item-field-featured-image-und-0-alt .description {
  display: none;
}

#node-edit .field-name-field-featured-image .image-preview img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0; /* Overrides Bartik's default margin, which is too much */
}

#node-edit .field-name-field-featured-image div.image-widget-data {
  float: none;
}

#node-edit .field-name-field-featured-image .image-widget-data img {
  margin-bottom: 0;
}
  
#node-edit .field-name-field-featured-image .image-widget-data span.file {
  width: 65%;
  margin-right: 5%;
  float: left;
  margin-top: 5px;
}
  
#node-edit .field-name-field-featured-image .image-widget-data img {
  margin-bottom: 0;
}
  
#node-edit .field-name-field-featured-image .image-widget-data span.file-size {
  display: none;
}
  
#node-edit .field-name-field-featured-image .image-widget-data input#edit-field-featured-image-und-0-remove-button {
  max-width: 28%
}
  
#node-edit .field-name-field-featured-image .image-widget-data div.form-item {
  clear: both;
  margin-top: .75em;
  margin-bottom: .25em;
}
  
#node-edit .field-name-field-featured-image .image-preview {
  width: 100%;
}

#node-edit .form-item-field-featured-image-und-0 > label {
  display: none;
}

/** 
 * Date/Time Styling
 */
#node-edit .container-inline-date > .form-item {
  border: 0;
  margin: 0;
}

#node-edit .container-inline-date .date-padding {
  float: none;
  padding: 0;
}

#node-edit .container-inline-date .form-item-date-time, 
#node-edit .container-inline-date .form-item-date-date {
  padding-bottom: 1em;
}

#node-edit .form-item-date-time label, 
#node-edit .form-item-date-date label, 
#node-edit .form-item-name label {
  width: 49px;
}

#node-edit .container-inline-date .form-item-date-date .description, 
#node-edit .container-inline-date .form-item-date-time .description {
  display: none;
}

/**
 * Admin dashboard styling
 */
.pane-theme .form-type-checkbox input, 
.pane-wetkit-apps-apps .form-type-checkbox input,
.pane-wetkit-foundation-apps .form-type-checkbox input {
  float: left;
  margin-top: 30px;
}

.pane-theme .admin-theme-image {
  margin-top: .3em;
  width: 150px;
  float: left;
}

.pane-wetkit-apps-apps .admin-apps-image,
.pane-wetkit-foundation-apps .admin-apps-image {
  padding-left: 1em;
  float: left;
  width: 7%;
}

.pane-theme .admin-theme-configure, 
.pane-wetkit-apps-apps .admin-apps-configure,
.pane-wetkit-foundation-apps .admin-apps-configure {
  float: right;
  line-height: 40px;
}

.pane-theme .admin-theme-image img {
  width: 150px;
}

.pane-wetkit-apps-apps .admin-apps-image img,
.pane-wetkit-foundation-apps .admin-apps-image img {
  width: 50px;
  border: 1px solid #000;
}

.pane-theme .admin-theme-information {
  padding-left: 1em;
  padding-right: 1em;
  width: 54%;
  float: left;
}

.pane-wetkit-apps-apps .admin-apps-information,
.pane-wetkit-foundation-apps .admin-apps-information {
  padding-left: 1em;
  padding-right: 1em;
  float: left;
  width: 52%;
}

.pane-theme .form-checkbox, 
.pane-wetkit-apps-apps .form-checkbox,
.pane-wetkit-foundation-apps .form-checkbox {
  font-size: 2em;
}

.pane-wetkit-apps-apps .form-checkbox .form-item,
.pane-wetkit-foundation-apps .form-checkbox .form-item {
  margin-top: 0;
}

.pane-taxonomy .ctools-dropbutton,
.pane-pages .ctools-dropbutton {
  margin-top: 2px;
  float: right;
}

/**
 * Media Styles
 */
#media-browser-page {
  background: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

#media-browser-page .content {
  margin-top: 0px;
}

ul#media-browser-library-list {
  margin: 0;
}

#media-browser-tabset .views-exposed-form {
  margin-bottom: 1em;
}

#media-browser-tabset .views-exposed-form .views-exposed-widget {
  float: left;
  margin-right: 15px;
}

#media-browser-tabset .views-exposed-form div.form-item {
  margin: .25em 0;
}

#media-browser-tabset a.button, 
#media-browser-tabset input.form-submit {
  border: 1px solid #ccc;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  margin: 0 18px 0 0;
  padding: 0 13px 1px;
}

#media-browser-tabset .media-browser-tab, 
#media-browser-tabset .ui-tabs-nav {
  border: none;
}

#media-browser-tabset a.button:hover, 
#media-browser-tabset input.form-submit:hover {
  background: #E6E6E6;
  background-image: linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #C5C5C5),
  color-stop(1, #FAFAFA)
  );
}

#media-browser-tabset a.button:active, 
#media-browser-tabset input.form-submit:active {
  outline: none;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
}

#media-browser-tabset .view .item-list .pager li {
  padding: 0;
}

/**
 * Wizard Landing Page Styling
 */
#wetkit_admin_landing_page_wizard .form-item-admin-title input {
  font-size: 2em;
}

#wetkit_admin_landing_page_wizard .form-item-admin-title label {
  display: none;
}

#wetkit_admin_landing_page_wizard .form-item-path label {
  display: none;
}

#wetkit_admin_landing_page_wizard .form-item-admin-title .field-prefix {
  font-weight: bold;
}

#wetkit_admin_landing_page_wizard .panels-layouts-checkboxes {
  display: none;
}

#wetkit_admin_landing_page_wizard .form-item-menu-parent label {
  float: left;
  margin-right: 5px;
  font-weight: normal;
}

/**
 * Misc
 */
#active-vertical-tab {
  height: 1px;
  overflow: hidden;
}

#views-ajax-body form {
  background-color: #FFF;
}

.contextual-links-wrapper, 
.tabledrag-toggle-weight-wrapper {
  display: none;
}

.view-wetkit-admin-content .views-field-field-featured-image {
  padding: 0;
}

/* Fix positioning for autocomplete items in firefox. http://drupal.org/node/1218684 */
.form-item-uid {
  position: relative;
}