/* 
    Document   : wetkit_admin_custom
    Created on : 2-Aug-2012, 10:22:07 AM
    Author     : hearwil
    Description:
        Purpose of the stylesheet follows.
*/

.panels-layouts-checkboxes > .form-item,
.panels-page-type-container > .form-item { 
    display: inline;
    display: inline-block; 
    clear: both; 
}