/* Import Font Families */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import "_base.scss";

/* Base Admin Theme Styles */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: normal 500 .923em/1.5em "Open Sans", Arial, sans-serif;
}
a {
  color: #36a2f6;
}

/* Installation/Maintenance Page */
body.in-maintenance {
  background: #256ba7 url("../images/installation-bg.png") repeat 0 0;

  .body-wrapper {
    @include gradient-vertical(#569ad4,#256ba7);

    .page-outer {
      background: transparent url("../images/installation-bg.png") repeat 0 0;
      padding: 40px 0;

    }
  }

  .footer-messages {
    border: 0;
    margin: 0 auto;
    width: 960px;
  }

  #branding {
    @include round-corners(5px,5px,0,0);
    box-shadow: none;
    background: #f4f4f4;
    border: 1px solid #edebeb;
    margin: 0;
    padding: 30px 40px;
    width: 960px;

    h1.page-title {
      color: #747474;
      float: right; /* LTR */
      font-size: 32px;
      font-weight: 100;
      line-height: 1em;
      padding: 10px 0;
      width: 550px;
    }
  }

  #page {
    @include box-shadow(0,5px,5px,rgba(0,0,0,.28));
    @include round-corners(5px,5px,5px,5px);
    background: transparent;
    background: #ffffff;
    padding: 0;
    width: 960px;
    overflow: hidden;
  }

  .page-wrapper {
    padding: 40px;
    width: 960px;
  }

  .logo-wrapper {
    float: left; /*LTR */
  }

  #logo {
    margin: 0;
    max-width: 100%;
  }

  #sidebar-first {
    width: 270px;
  }

  fieldset .fieldset-wrapper,
  fieldset.collapsible  {
    border: 1px solid #ccc;
    padding: 15px;
  }

}
body.in-maintenance ol.task-list {
  background: transparent url("../images/wizard-bg.png") repeat-y 0 0;
}
body.installing-demo-store ol.task-list,
body.importing-content ol.task-list,
body.installing-additional-functionality ol.task-list {
  background: transparent url("../images/wizard-bg.png") repeat-y 0 0;
}
body.in-maintenance ol.task-list li {
  background: transparent url("../images/tasks-inactive.png") no-repeat 5px 4px;
  color: #9a9a9a;
  font: normal 400 16px/18px "Open Sans", Arial, sans-serif;
  height: 30px;
  padding: 6px 0 0 40px; /* LTR */
  margin: 0 0 22px 0; /* LTR */
}
body.in-maintenance ol.task-list li.active {
  background: transparent url("../images/tasks-active.png") no-repeat 5px 4px;
  color: #2e87cd;
}
body.in-maintenance ol.task-list li.done {
  background: transparent url("../images/tasks-complete.png") no-repeat 5px 4px;
  color: #75cd27;
}

body.in-maintenance div.form-type-password {
  width: 500px;
}

body.in-maintenance .password-strength {
  width: 15em;
}

body.in-maintenance .form-item-extras label[for=edit-extras] {
  clear: both;
}

/* Setting Museo Slab Family */
h1, h2, h3, h4, h5, h6, ul.admin-list li a, div.breadcrumb, fieldset .fieldset-legend {
  font-family: "Open Sans", Arial, sans-serif;
}

/* Form Overrides */
fieldset.form-wrapper {
  margin-bottom: 2em;
}
fieldset.collapsed {
  padding: 25px 15px;
}
fieldset .fieldset-legend {
  font-size: 16px;
  font-weight: 600;
}
fieldset.collapsible .fieldset-legend a {
  color: #000;
}
fieldset.collapsible  .fieldset-wrapper {
  background: transparent;
  border: 0;
  padding: 25px 15px 0;
}
body.in-maintenance fieldset .fieldset-legend {
  border-bottom: 0;
  color: #000;
  font-size: 28px;
  font-weight: 400;
  margin-left: 0; /* LTR */
}
.form-item label {
  font-weight: 700;
}
.form-item div.description, fieldset p {
  font-size: 13px;
  font-weight: 100;
}
input.form-autocomplete,
input.form-text,
input.form-file {
  border: 1px solid #e0e0e0;
  font: normal 500 1em/1em "Open Sans", Arial, sans-serif;
  margin: 1px;
  max-width: 100%;
  padding: 5px;
}
textarea.form-textarea {
  border: 1px solid #e0e0e0;
  font-size: 1em;
  padding: 5px 10px;

}
.resizable-textarea textarea.form-textarea {
  border-bottom: none;
}
.node-form .field-name-body .resizable-textarea textarea.form-textarea {
  height: 250px;
}
.text-format-wrapper fieldset,
.text-format-wrapper fieldset .fieldset-wrapper {
  background: transparent;
  border: none;
}
.text-format-wrapper fieldset .fieldset-wrapper .form-item {
  clear: left; /* LTR */
}
.node-form .field-name-body .resizable-textarea textarea.form-textarea {
  height: 280px;
}
input.form-autocomplete:focus,
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus {
  background-color: #fff;
  color: #000;
}

#edit-actions {
  background: transparent;
  padding: 30px 0 0 0;

  input.form-submit {
    margin-bottom: 0;
  }

  #edit-delete {
    color: #ab5757;
    float: right; /* LTR */
    margin: 0;
    background: transparent;
    border: 0;
    @include box-shadow(0,0,0,transparent);

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Customized Checkbox and Radios */
.form-type-checkbox,
.form-type-radio {
  position: relative;
}
input.form-checkbox + label,
input.form-radio + label {
  font-weight: 500;
  padding-left: 20px; /* LTR */
  cursor: pointer;
}
/* Using "foo" to make unsupporting browsers ignore */
#foo:checked::before,
input.form-checkbox ,
input.form-radio {
  opacity: 0;
  width: 20px;
  height: 20px;
}
#foo:checked,
input.form-checkbox + label::before,
input.form-radio + label::before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0; /* LTR */
  height: 20px;
  width: 20px;
  background: transparent url("../images/toggles.png") no-repeat 0 0;
}
#foo:checked,
.form-disabled input.form-checkbox + label::before {
  opacity: .4;
}
#foo:checked,
body.in-maintenance input.form-radio + label::before {
  top: 4px;
}
input.form-radio + label::before {
  background-position: 0 -40px;
}
#foo:checked,

input.form-checkbox:checked + label::before {
  background-position: 0 -20px;
}
input.form-radio:checked + label::before {
  background-position: 0 -60px;
}
select.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #ccc;
  @include round-corners(3px,3px,3px,3px);
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  max-width: 100%;
  padding: 3px;
  width: auto;

  &:focus {
    color: #000;
  }
}
/* Form Fixes for Webkit Browsers. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select.form-select {
    padding: 5px 35px 5px 5px; /* LTR */
    background: #fff url("../images/drop-filter.png") no-repeat right center; /* LTR */
  }
  form table {

    input.form-checkbox,
    input.form-radio {
      -webkit-appearance: none;
      appearance: none;
      border: 0;
      opacity: 1;
      height: 20px;
      width: 20px;
      background: transparent url("../images/toggles.png") no-repeat 0 0;
    }
    input.form-checkbox:checked {
      background-position: 0 -20px;
    }
    input.form-radio {
      background-position: 0 -40px;
    }
    input.form-radio:checked {
      background-position: 0 -60px;
    }
    .form-disabled input.form-checkbox {
      opacity: .4;
    }
  }
}
/* Form Fix for Firefox */
@-moz-document url-prefix() {
  form table {
    input.form-checkbox,
    input.form-radio {
      opacity: 1;
      height: auto;
      width: auto;
    }
    .fieldset-wrapper input.form-radio,
    .fieldset-wrapper input.form-checkbox {
      opacity: 0;
    }
  }
}
/* Form Fix for Opera */
noindex:-o-prefocus, form table {
  input.form-checkbox,
  input.form-radio {
    opacity: 1;
  }
}
.exposed-filters .form-item label {
  float: none;
}
#edit-operation {
  margin-top: 6px;
}
body.in-maintenance fieldset.form-wrapper {
  border: 0;
  max-width: 530px;
  padding-top: 3em;
}

body.in-maintenance select.form-select {
  width: 500px;
}
.form-required,
.form-type-managed-file strong {
  color: #ff7e00;
  font-weight: 500;
}
body.in-maintenance .form-submit:hover {
  background: #79d428 url("../images/button-over.png") repeat-x 0 0;
}
body.in-maintenance #install-settings-form fieldset .fieldset-legend {
  font-size: 16px;
}
body.in-maintenance #install-settings-form fieldset .fieldset-wrapper {
  padding-top: 25px;
}

#credit {
  float: right; /* LTR */
  padding: 20px 0 40px;
}
#powered {
  padding-top: 20px;
}
body.in-maintenance #credit {
  color: #fff;
  margin: 0 auto;
  width: 960px;
}
#credit .message {
  clear: right; /* LTR */
  float: right; /* LTR */
  margin-bottom: 20px;
  width: 180px;
}
/* CG Logo on White */
#credit .logo a {
  background: transparent url("../images/wet_logo.png") no-repeat 0 0;
  clear: right; /* LTR */
  float: right; /* LTR */
  height: 0;
  overflow: hidden;
  padding: 80px 0 0;
  width: 180px;
}
/* CG Logo on Blue */
body.in-maintenance #credit .logo a {
  background: transparent url("../images/wet_logo.png") no-repeat 0 0;
}
#block-system-main {
  position: relative;
}
.breadcrumb {
  clear: left; /* LTR */
  color: #666666;
  float: left; /* LTR */
  font-size: 12px;
  padding-bottom: 10px;
  width: auto;

  a, span {
    display: inline-block;
    margin: 0 5px 0 0; /* LTR */
  }

  a {
    color: #666666;

    &:hover {
      color: #36a2f6;
      text-decoration: underline;
    }
  }

  span {
    background: transparent url("../images/breadcrumb.png") no-repeat 0 0;
    height: 10px;
    margin-top: 6px;
    width: 10px;
  }
}
.page-admin-getting-started .advanced-help-topic {
  background: transparent;
  border: 0;
  padding: 0;
}
.page-admin-getting-started .advanced-help-topic a {
  color: #36A2F6;
}

.help-section h3,
.help-section h3 a {
  font-size: 16px;
  font-weight: 400;
}
/* Default Buttons */
input.form-submit,
a.button {
  @include grey-button;
}
a.button {
  display: inline-block;
}
/* Fix padding issue in Firefox */
@-moz-document url-prefix() {
  input.form-submit {
    padding-top: 0;
    padding-bottom: 0;
  }
}
input.form-submit:hover,
a.button:hover {
  background-position: 0 bottom;
  -moz-box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #fff;
  -webkit-box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #fff;
  box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #fff;
}
.form-managed-file input.form-file {
  margin-right: 20px; /* LTR */
}
/* Hide placeholder text on input focus */
input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* Green Buttons */
a.button:hover {
  background-position: 0 bottom;
  -moz-box-shadow: 0 1px 2px #ccc, inset 0 -1px 2px #fff;
  -webkit-box-shadow: 0 1px 2px #ccc, inset 0 -1px 2px #fff;
  box-shadow: 0 1px 2px #ccc, inset 0 -1px 2px #fff;
}
ul.action-links {
  padding: 0;
}
ul.action-links li {
  padding: 6px 0;
}
/* Blue Buttons */
.form-actions #edit-submit,
.form-actions #edit-save,
ul.action-links li,
.field-widget-inline-entity-form .container-inline input.form-submit,
input.ief-entity-submit {
  @include blue-button;
}
/* Firefox padding issue */
@-moz-document url-prefix() {
  .form-actions #edit-submit,
  .form-actions #edit-save,
  ul.action-links li,
  .field-widget-inline-entity-form .container-inline input.form-submit,
  input.ief-entity-submit {
    padding: 2px 30px;
  }
}
/* Action Links Overrides of above */
ul.action-links li {
  float: left; /* LTR */
  padding: 0;
}
ul.action-links li a {
  background: transparent url("../images/add2.png") no-repeat 10px 10px;
  color: #ffffff;
  font-weight: 500;
  padding: 4px 10px 4px 30px; /* LTR */
}
ul.action-links li a:hover {
  text-decoration: none;
}
.rules-elements-table ul.rules-operations-add a {
  line-height: 1.25em;
  float: left; /* LTR */
}
