/** Stylesheet for WetKit Widgets */
/* Drupal Specific Styling */
.ipe_tabs_interface img { margin: 0px; }

.wet-boew-tabbedinterface .tabs { margin: 0px; }
.wet-boew-tabbedinterface .tabs li.active { border-left: none; }

/* Style 7 For use with the Front Page */
.tabs-style-7 { height: 250px; overflow: hidden; position: relative; width: 960px; background: #fff; }
.tabs-style-7 .tabs { height: 249px; left: 0; right: inherit; top: 0; overflow: hidden; position: absolute; z-index: 100; width: 228px; border: 1px solid #ccc; border-top: none; }
.tabs-style-7 .tabs span { display: none !important; }

.tabs-style-7 .tabs li { background: transparent; display: block; border: none; width: 228px; }

.tabs-style-7 .tabs li.active { margin-right: 0; top: 0; background: #222; }

.tabs-style-7 .tabs li.active span { display: block!important; font-weight: normal; padding: 3px; }

.tabs-style-7 .tabs li a { font-size: 95%; color: #222 !important; text-decoration: none !important; display: block; border: none; text-decoration: none; background: transparent; padding: 5px 10px; }

.tabs-style-7 .tabs li a span { display: block; padding-top: 2px; font-size: 95%; }

.tabs-style-7 .tabs li a.tabs-stop, .tabs-style-7 .tabs li a.tabs-start { color: #333 !important; }

.tabs-style-7 .tabs li a.active, .tabs-style-7 .tabs li a:active { text-decoration: none; color: #000; font-weight: 900; background: #eee; }

.tabs-style-7 .tabs li a:hover, .tabs-style-7 .tabs li a:focus { text-decoration: underline; color: #000; background: #ddd; }

.tabs-style-7 .tabs-panel { overflow: hidden; width: 730px; float: right; margin: 0; padding: 0; border: none; }

.tabs-style-7 .tabs-panel .active { border: none; }

.tabs-style-7 .tabs-roller { background-color: transparent; border-bottom: 2px solid #000; top: auto; bottom: 0; opacity: 0.1; filter: alpha(opacity=10); }

/** we now style a border to give a small subtle line effect**/
.tabs-style-7 .tabs-toggle a.tabs-stop, .tabs-style-7 .tabs-toggle a.tabs-start { position: static; margin-right: 2px; margin-top: 10px; border: 1px solid #999; background-repeat: no-repeat; background-position: -1px 0; background-color: #eee !important; }

.tabs-style-7 img { width: 730px; height: 250px; margin: 0; padding: 0; float: right; }

.tabs-style-7 .tabs-content-pad { position: absolute; bottom: 0px; right: 0px; width: 715px; background: #111; opacity: 0.9; filter: alpha(opacity=90); color: #fff; padding-right: 10px; padding-left: 5px; padding-bottom: 5px; padding-top: 5px; }

.tabs-style-7 .tabs-content-pad a, .tabs-style-7 .tabs-content-pad a:visited, .tabs-style-7 .tabs-content-pad a:hover { color: #fff; }

.tabs-style-7 .tabs-content-pad p { margin: 0 0 0 10px; padding: 0; }

.tabs-style-7 li.tabs-toggle a, .tabs-style-7 li.tabs-toggle a:focus, .tabs-style-7 li.tabs-toggle a:active, .tabs-style-7 li.tabs-toggle a:hover { margin-right: 0; opacity: 1; filter: alpha(opacity=100); padding: 2px 5px 2px 24px; }

.tabs-style-7 .tabs li.tabs-toggle { position: absolute; bottom: 10px; left: 10px; height: auto; width: auto; border: none; background-color: transparent; }

.tabs-style-7 .tabs li.tabs-toggle a { height: auto; margin: 0; min-width: 48px; text-align: center; }

.tabs-style-7 .tabs-toggle a:active, .tabs-style-7 .tabs-toggle a:focus { background-repeat: no-repeat !important; background-position: -1px 0 !important; }

.tabs-style-7 .tabs-panel a:hover, .tabs-style-7 .tabs-panel a:focus, .tabs-style-7 .tabs-panel a:active { color: #295376 !important; }

/*** Media Query at 1200px ***/
@media only screen and (min-width: 1200px) { .tabs-style-7 { width: 1200px; }
  .tabs-style-7 img, .tabs-style-7 .tabs-panel { width: 890px; height: auto; margin-top: -10px; }
  .tabs-style-7 .tabs-content-pad { width: 875px; }
  .tabs-style-7 .tabs { width: 308px; }
  .tabs-style-7 .tabs li { width: 308px; } }
/*** Media Query at 768px ***/
@media only screen and (max-width: 959px) { .tabs-style-7 { width: 768px; }
  .tabs-style-7 img, .tabs-style-7 .tabs-panel { width: 538px; height: auto; margin-top: -10px; background: #111; }
  .tabs-style-7 .tabs-content-pad { width: 523px; } }
.progress { font-weight: normal; }
