/*
Document   : wetkit.scss
Created on : Apr 28, 2012, 9:14:37 PM
Author     : sylus1984
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*
 * Custom Style Overrides
 */
/* line 18, ../sass/wetkit.scss */
#wb-head, #wb-head-in, #gcwu-bnr, #gcwu-bnr-in {
  overflow: visible !important;
}

/* line 22, ../sass/wetkit.scss */
#gcwu-bnr {
  z-index: 99 !important;
}

/* line 27, ../sass/wetkit.scss */
#gcwu-psnb .wet-boew-megamenu {
  z-index: 98 !important;
}
/* line 30, ../sass/wetkit.scss */
#gcwu-psnb .mb-menu {
  z-index: 98 !important;
}

/* line 37, ../sass/wetkit.scss */
#gcwu-connect .boxes-box-controls .cancel {
  display: none;
}

/*
 * Custom Search Bar Overrides
 */
/* line 48, ../sass/wetkit.scss */
.search-form .form-item-custom-search-blocks-form-1 {
  display: inline;
}
/* line 51, ../sass/wetkit.scss */
.search-form #edit-actions {
  display: inline;
}
/* line 54, ../sass/wetkit.scss */
.search-form .form-actions {
  display: inline;
}

/* line 59, ../sass/wetkit.scss */
fieldset.custom_search-popup {
  z-index: 99 !important;
  width: 199px;
  background-color: white;
}
/* line 63, ../sass/wetkit.scss */
fieldset.custom_search-popup a {
  color: black !important;
}
/* line 66, ../sass/wetkit.scss */
fieldset.custom_search-popup label {
  position: relative !important;
}
/* line 69, ../sass/wetkit.scss */
fieldset.custom_search-popup .form-item {
  text-align: left;
}

/*
 * Drupal Tabs Overrides
 */
/* line 79, ../sass/wetkit.scss */
ul.tabs {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 86, ../sass/wetkit.scss */
.profile dl {
  margin-left: 10px;
  margin-right: 10px;
}

/*
 * Contextual Links
 */
/* line 96, ../sass/wetkit.scss */
div.contextual-links-wrapper {
  z-index: 10;
}

/*
 * Intranet Overrides
 */
/* line 105, ../sass/wetkit.scss */
#gcwu-bnr-in #gcwu-title {
  margin-top: 0px;
  padding-top: 7px;
}
