#panels-dnd-main .region {margin-bottom: 5px}
#panels-dnd-main .region-wetkit-three-40-40-20-first {float: left; width: 40%; margin-left: 0%; margin-right: 0%;}
#panels-dnd-main .region-wetkit-three-40-40-20-second {float: left; width: 40%; margin-left: 0.5%; margin-right: 0%;}

#panels-dnd-main .region-wetkit-three-40-40-20-third {display: block; margin-left: 0%; margin-right: 0%;}
#panels-dnd-main #gcwu-aside {float:right; margin-left: 0px; margin-right: 0px; width: 19%;}
#panels-dnd-main #gcwu-aside .at-panel .region {margin-left: 0px; margin-right: 0px; width: 19%;}
#panels-dnd-main #gcwu-aside h2 {overflow: visible; font-weight: normal; position: relative; height: auto !important; width: auto !important;}

#panels-dnd-main .region-wetkit-three-40-40-20-bottom {clear: both}
