/**
 * CSS Styles for Demo Style Plugins
 */
.region-light-blue-background,
.pane-light-blue-background {
  background-color: #53b0eb;
  padding: 1em;
}

.region-dark-blue-background,
.pane-dark-blue-background {
  background-color: #0678be;
  padding: 1em;
}

.region-dark-blue-background h2,
.region-dark-blue-background a,
.pane-dark-blue-background h2,
.pane-dark-blue-background a {
  margin-top: 0em;
  color: #FFF;
}

.region-lime-green-background,
.pane-lime-green-background {
  background-color: #96bc44;
  padding: 1em;
}

.region-lime-green-background h2,
.region-lime-green-background a,
.pane-lime-green-background h2,
.pane-lime-green-background a {
  margin-top: 0em;
  color: #FFF;
}
