html { line-height: 1.5; height: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { min-height: 100%; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6, h1 img, h2 img, h3 img, h4 img, h5 img, h6 img, em, dfn, del, ins, a, tbody, tfoot, thead, tr, ul, li, label, legend, figure, figcaption { margin: 0; padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

img, a img { border: 0; }

p { margin: 0 0 1.5em; padding: 0; }

em, dfn { font-style: italic; }

ins { border-bottom: none; text-decoration: none; }

pre, code, tt, samp, kbd, var { font-size: 1em; font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif; }

blockquote, q { font-style: italic; quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote { margin: 0 0 1.5em; padding: 0 0 0 40px; }
blockquote p { margin: 0; }

strong, dfn, caption, th { font-weight: 700; }

ul, ol { margin: 0 0 1.5em 40px; padding: 0; }

.item-list ul, .item-list ol { margin: 0 0 0 15px; padding: 0; }
.item-list ul li { margin: 0; padding: 0; }

ul ul, .block ul ul, .item-list ul ul, ul ol, .block ul ol, .item-list ul ol, ol ul, .block ol ul, .item-list ol ul, ol ol, .block ol ol, .item-list ol ol { margin-bottom: 0; }

ul { list-style-type: disc; }
ul ul ul { list-style-type: square; }

ol { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha; }
ol ol ol { list-style-type: lower-roman; }

ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: circle; }

dt { font-weight: 700; }

dd { margin: 0 0 1.5em 40px; }

img { max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; }

embed, object, video { max-width: 100%; }

.lt-ie9 img, .lt-ie9 object, .lt-ie9 embed, .lt-ie9 video { max-width: none; }

#map img, .gmap img, .view-gmap img, .openlayers-map img, #getlocations_map_canvas img, #locationmap_map img, .geofieldMap img { max-width: none !important; }

svg:not(:root) { overflow: hidden; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

header[role=banner], .content-inner, .nav, .region-sidebar-first, .region-sidebar-second, .region-secondary-content, .region-tertiary-content, .region-footer { overflow: visible; word-wrap: break-word; }

.element-invisible { border: 0; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; }

.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static !important; width: auto; }

.offscreen { position: absolute; top: -99999em; width: 1px; height: 1px; overflow: hidden; outline: 0; }

.element-hidden { display: none; }
