/* Drupal Core */
.contextual-links-wrapper { z-index: 10; }

figure { display: block; margin: 0px; padding: 0px; }

.node { margin-bottom: 0px; }

.profile dl { margin-left: 10px; margin-right: 10px; }

ul.tabs { margin-left: 10px; margin-right: 10px; }

/* Drupal Contrib: Adaptive Theme */
#breadcrumb, .breadcrumb-wrapper { margin-left: 0px; margin-right: 0px; }

.container { max-width: none !important; }

.field-name-field-featured-image-form .image-preview { float: none; }

#node-edit .image-widget .form-submit, #node-edit .file-widget .form-submit { display: inline; }

#node-edit .form-actions input { display: inline; }

.maintenance-page #main-content #content { padding: 10px; }

#main-content #tasks ul.tabs { margin-bottom: 20px; }

/* Drupal Contrib: Custom Search */
fieldset.custom_search-popup { z-index: 99 !important; width: 198px; background-color: white; padding: 0px 10px; border: 1px solid #DDD; }
fieldset.custom_search-popup a { color: black !important; }
fieldset.custom_search-popup label { position: relative !important; }
fieldset.custom_search-popup .form-item { text-align: left; }

.search-form #edit-actions { display: inline; }
.search-form .form-actions { display: inline; }
.search-form .form-item-custom-search-blocks-form-1 { display: inline; }

/* Drupal Contrib: Panels */
.panels-ipe-editing #wb-sec-in { margin: 0px; }

.panels-ipe-placeholder h3 { background: none; padding: 0px; }

.page-node-edit .pane-page-tabs #tabs { margin: 20px 0px 0px 0px; }

.page-node-edit .pane-page-tabs ul.tabs { margin: 0px 0px; }

.page-node-add label[for="edit-language"], .page-node-edit label[for="edit-language"] { display: inline; }

.page-node-add .node-form h3.pane-title, .page-node-edit .node-form h3.pane-title { background: #DDD; padding: 2px 4px; }

.pane-page-tabs #tabs { margin-bottom: 20px; }

.region-wetkit-33-66-second { width: 95%; }

/* Drupal Contrib: Workbench */
#block-workbench-block { width: 99%; display: block; margin-left: auto; margin-right: auto; }

/* WET-BOEW */
#gcwu-bnr { z-index: 99 !important; }

#gcwu-bnr-in #gcwu-title { margin-top: 0px; padding-top: 7px; margin-bottom: 0px; }

#gcwu-psnb .wet-boew-megamenu { z-index: 98 !important; }
#gcwu-psnb .mb-menu { z-index: 98 !important; }

#gcwu-connect .boxes-box-controls .cancel { display: none; }

.gcwu-minister-in { background-color: #EEE; }

.gcwu-minister p { background-color: #FFF; }

#wb-head, #wb-head-in, #gcwu-bnr, #gcwu-bnr-in { overflow: visible !important; }

.wb-sec-def h3, .wb-sec-def h4, .wb-sec-def .top-level { font-weight: 700; background: #DDD; padding: 2px 4px; }
