/*
Document   : wetkit.scss
Created on : Apr 28, 2012, 9:14:37 PM
Author     : sylus1984
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

/*
 * Custom Style Overrides
 */

#wb-head, #wb-head-in, #gcwu-bnr, #gcwu-bnr-in  {
  overflow: visible !important;
}

#gcwu-bnr {
  z-index: 99 !important;
}

#gcwu-psnb {
  .wet-boew-megamenu {
    z-index: 98 !important;
  }
  .mb-menu {
    z-index: 98 !important;
  }
}

#gcwu-connect {
  .boxes-box-controls {
    .cancel {
      display: none;
    }
  }
}

/*
 * Custom Search Bar Overrides
 */

.search-form {
  .form-item-custom-search-blocks-form-1 {
    display: inline;
  }
  #edit-actions {
    display: inline;
  }
  .form-actions {
    display: inline;
  }
}

fieldset.custom_search-popup {
  z-index: 99 !important;
  width: 199px;
  background-color: white;
  a {
    color: black !important;
  }
  label {
    position: relative !important;
  }
  .form-item {
   text-align: left;
  }
}

/*
 * Drupal Tabs Overrides
 */

ul {
  &.tabs {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.profile {
  dl {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*
 * Contextual Links
 */

div.contextual-links-wrapper {
  z-index: 10;
}

/*
 * Intranet Overrides
 */

#gcwu-bnr-in {
  #gcwu-title {
    margin-top: 0px;
    padding-top: 7px;
  }
}