#panels-dnd-main .region {margin-bottom: 20px}

#panels-dnd-main #wb-main {width:75%; float: right; margin-bottom: 20px;}
#panels-dnd-main .region-wetkit-three-25-50-25-first { float: left;  width: 66%; margin-top: 20px; }
#panels-dnd-main .region-wetkit-three-25-50-25-second {float: left; width: 33%; margin-left: 1%; margin-right: 0%; margin-top: 20px;}

#panels-dnd-main #wb-sec-in {margin: 0px; width: 24.5%; float: left; margin-right: 0.5%; margin-bottom: 5px}
#panels-dnd-main #wb-sec {float: none;}
#panels-dnd-main #wb-sec h2 {overflow: visible; height: auto !important; width: auto !important;}
#panels-dnd-main #wb-nav {display:none;}

#panels-dnd-main .region-wetkit-three-25-50-25-bottom { clear: both}
