@charset "utf-8";
/*!
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 *
 * Version: @wet-boew-build.version@
 *
 */
/* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
/* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
/* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
.color-dark { color: #222222; }

.color-medium { color: #666666; }

.color-accent { color: #145e91; }

.color-attention { color: #cc2e29; }

h1[class*="background-"], h2[class*="background-"], h3[class*="background-"], h4[class*="background-"], h5[class*="background-"], h6[class*="background-"] { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 100%; font-weight: 700; line-height: 18px; margin: 0 0 1px !important; padding: 5px 10px; width: auto; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
h1.background-accent, h2.background-accent, h3.background-accent, h4.background-accent, h5.background-accent, h6.background-accent { text-shadow: 0 1px 1px #222222; background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #176ca7), color-stop(100%, #135888)) !important; background-image: -webkit-linear-gradient(#176ca7, #135888) !important; background-image: -moz-linear-gradient(#176ca7, #135888) !important; background-image: -o-linear-gradient(#176ca7, #135888) !important; background-image: linear-gradient(#176ca7, #135888) !important; }
h1.background-light, h2.background-light, h3.background-light, h4.background-light, h5.background-light, h6.background-light { text-shadow: 0 1px 1px white; background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dcdcdc)) !important; background-image: -webkit-linear-gradient(#eeeeee, #dcdcdc) !important; background-image: -moz-linear-gradient(#eeeeee, #dcdcdc) !important; background-image: -o-linear-gradient(#eeeeee, #dcdcdc) !important; background-image: linear-gradient(#eeeeee, #dcdcdc) !important; }
h1.background-medium, h2.background-medium, h3.background-medium, h4.background-medium, h5.background-medium, h6.background-medium { text-shadow: 0 1px 1px #222222; background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #545454)) !important; background-image: -webkit-linear-gradient(#666666, #545454) !important; background-image: -moz-linear-gradient(#666666, #545454) !important; background-image: -o-linear-gradient(#666666, #545454) !important; background-image: linear-gradient(#666666, #545454) !important; }
h1.background-dark, h2.background-dark, h3.background-dark, h4.background-dark, h5.background-dark, h6.background-dark { text-shadow: 0 1px 1px #222222; background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #101010)) !important; background-image: -webkit-linear-gradient(#222222, #101010) !important; background-image: -moz-linear-gradient(#222222, #101010) !important; background-image: -o-linear-gradient(#222222, #101010) !important; background-image: linear-gradient(#222222, #101010) !important; }

p[class*="background-"] { padding: 3px 8px; }

span[class*="background-"] { padding: 1px 4px; }

[class*="background-"] h2, [class*="background-"] h3, [class*="background-"] h4, [class*="background-"] h5, [class*="background-"] h6, [class*="background-"] p { padding: 5px 10px !important; }

.background-highlight { background-color: #ffffc9 !important; color: #222222 !important; }
.background-highlight a, .background-highlight a:link, .background-highlight a:visited { color: #222222; }
.background-highlight a:hover, .background-highlight a:focus, .background-highlight a:active { color: #555555; }

.background-accent { background-color: #176ca7 !important; color: white !important; }
.background-accent a, .background-accent a:link, .background-accent a:visited { color: white; }
.background-accent a:hover, .background-accent a:focus, .background-accent a:active { color: #e6e6e6; }

.background-white { background-color: white !important; }

.background-light { background-color: #eeeeee !important; }

.background-medium { background-color: #666666 !important; color: white !important; }
.background-medium a, .background-medium a:link, .background-medium a:visited { color: white; }
.background-medium a:hover, .background-medium a:focus, .background-medium a:active { color: #e6e6e6; }

.background-dark { background-color: #222222 !important; color: white !important; }
.background-dark a, .background-dark a:link, .background-dark a:visited { color: white; }
.background-dark a:hover, .background-dark a:focus, .background-dark a:active { color: #e6e6e6; }

.button { background-image: none; background-repeat: repeat-x; border-width: 1px; border-style: solid; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 16px; padding: 4px 10px; text-align: center; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; background-color: #eeeeee; border-color: #c8c8c8 #c8c8c8 #bbbbbb; color: #222222 !important; text-shadow: 0 1px 1px white; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d4d4d4)); background-image: -webkit-linear-gradient(#eeeeee, #d4d4d4); background-image: -moz-linear-gradient(#eeeeee, #d4d4d4); background-image: -o-linear-gradient(#eeeeee, #d4d4d4); background-image: linear-gradient(#eeeeee, #d4d4d4); }
.button:hover, .button:focus, .button:active { background-color: #d4d4d4; }
.button:focus::-moz-focus-inner, .button:active::-moz-focus-inner { border-color: #222222; }
.button.button-disabled { background-color: #eeeeee; border-color: #e1e1e1; }
.button:disabled { background-color: #eeeeee; border-color: #e1e1e1; }
.button:hover, .button:focus, .button:active { background-position: 0 -15px; text-decoration: none; outline-offset: -6px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.button.button-disabled { background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; cursor: default; font-style: italic; text-shadow: none; }
.button:disabled { background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; cursor: default; font-style: italic; text-shadow: none; }

input[type="button"], input.button-accent, button.button-accent, a.button-accent, summary.button-accent { background-color: #176ca7; border-color: #0e4164 #0e4164 #0b324d; color: white !important; text-shadow: 0 1px 1px #222222; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #176ca7), color-stop(100%, #114f7a)); background-image: -webkit-linear-gradient(#176ca7, #114f7a); background-image: -moz-linear-gradient(#176ca7, #114f7a); background-image: -o-linear-gradient(#176ca7, #114f7a); background-image: linear-gradient(#176ca7, #114f7a); }
input[type="button"]:hover, input.button-accent:hover, button.button-accent:hover, a.button-accent:hover, summary.button-accent:hover, input[type="button"]:focus, input.button-accent:focus, button.button-accent:focus, a.button-accent:focus, summary.button-accent:focus, input[type="button"]:active, input.button-accent:active, button.button-accent:active, a.button-accent:active, summary.button-accent:active { background-color: #114f7a; }
input[type="button"]:focus::-moz-focus-inner, input.button-accent:focus::-moz-focus-inner, button.button-accent:focus::-moz-focus-inner, a.button-accent:focus::-moz-focus-inner, summary.button-accent:focus::-moz-focus-inner, input[type="button"]:active::-moz-focus-inner, input.button-accent:active::-moz-focus-inner, button.button-accent:active::-moz-focus-inner, a.button-accent:active::-moz-focus-inner, summary.button-accent:active::-moz-focus-inner { border-color: white; }
input.button-disabled[type="button"], input.button-disabled.button-accent, button.button-disabled.button-accent, a.button-disabled.button-accent, summary.button-disabled.button-accent { background-color: #176ca7; border-color: #145e91; }
input[type="button"]:disabled, input.button-accent:disabled, button.button-accent:disabled, a.button-accent:disabled, summary.button-accent:disabled { background-color: #176ca7; border-color: #145e91; }

/* added for Firefox, Chrome, Safari to default submit buttons to blue */
/* without line 29 the buttons would not be coloured in IE, move to fixes? */
input.button-dark, button.button-dark, a.button-dark, summary.button-dark { background-color: #222222; border-color: black black black; color: white !important; text-shadow: 0 1px 1px #222222; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #090909)); background-image: -webkit-linear-gradient(#222222, #090909); background-image: -moz-linear-gradient(#222222, #090909); background-image: -o-linear-gradient(#222222, #090909); background-image: linear-gradient(#222222, #090909); }
input.button-dark:hover, input.button-dark:focus, input.button-dark:active, button.button-dark:hover, button.button-dark:focus, button.button-dark:active, a.button-dark:hover, a.button-dark:focus, a.button-dark:active, summary.button-dark:hover, summary.button-dark:focus, summary.button-dark:active { background-color: #090909; }
input.button-dark:focus::-moz-focus-inner, input.button-dark:active::-moz-focus-inner, button.button-dark:focus::-moz-focus-inner, button.button-dark:active::-moz-focus-inner, a.button-dark:focus::-moz-focus-inner, a.button-dark:active::-moz-focus-inner, summary.button-dark:focus::-moz-focus-inner, summary.button-dark:active::-moz-focus-inner { border-color: white; }
input.button-dark.button-disabled, button.button-dark.button-disabled, a.button-dark.button-disabled, summary.button-dark.button-disabled { background-color: #222222; border-color: #151515; }
input.button-dark:disabled, button.button-dark:disabled, a.button-dark:disabled, summary.button-dark:disabled { background-color: #222222; border-color: #151515; }
input.button-info, button.button-info, a.button-info, summary.button-info { background-color: #2a7da6; border-color: #1b4f69 #1b4f69 #154055; color: white !important; text-shadow: 0 1px 1px #222222; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a7da6), color-stop(100%, #205e7d)); background-image: -webkit-linear-gradient(#2a7da6, #205e7d); background-image: -moz-linear-gradient(#2a7da6, #205e7d); background-image: -o-linear-gradient(#2a7da6, #205e7d); background-image: linear-gradient(#2a7da6, #205e7d); }
input.button-info:hover, input.button-info:focus, input.button-info:active, button.button-info:hover, button.button-info:focus, button.button-info:active, a.button-info:hover, a.button-info:focus, a.button-info:active, summary.button-info:hover, summary.button-info:focus, summary.button-info:active { background-color: #205e7d; }
input.button-info:focus::-moz-focus-inner, input.button-info:active::-moz-focus-inner, button.button-info:focus::-moz-focus-inner, button.button-info:active::-moz-focus-inner, a.button-info:focus::-moz-focus-inner, a.button-info:active::-moz-focus-inner, summary.button-info:focus::-moz-focus-inner, summary.button-info:active::-moz-focus-inner { border-color: white; }
input.button-info.button-disabled, button.button-info.button-disabled, a.button-info.button-disabled, summary.button-info.button-disabled { background-color: #2a7da6; border-color: #256e92; }
input.button-info:disabled, button.button-info:disabled, a.button-info:disabled, summary.button-info:disabled { background-color: #2a7da6; border-color: #256e92; }
input.button-confirm, button.button-confirm, a.button-confirm, summary.button-confirm { background-color: #418541; border-color: #285228 #285228 #204020; color: white !important; text-shadow: 0 1px 1px #222222; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #418541), color-stop(100%, #306330)); background-image: -webkit-linear-gradient(#418541, #306330); background-image: -moz-linear-gradient(#418541, #306330); background-image: -o-linear-gradient(#418541, #306330); background-image: linear-gradient(#418541, #306330); }
input.button-confirm:hover, input.button-confirm:focus, input.button-confirm:active, button.button-confirm:hover, button.button-confirm:focus, button.button-confirm:active, a.button-confirm:hover, a.button-confirm:focus, a.button-confirm:active, summary.button-confirm:hover, summary.button-confirm:focus, summary.button-confirm:active { background-color: #306330; }
input.button-confirm:focus::-moz-focus-inner, input.button-confirm:active::-moz-focus-inner, button.button-confirm:focus::-moz-focus-inner, button.button-confirm:active::-moz-focus-inner, a.button-confirm:focus::-moz-focus-inner, a.button-confirm:active::-moz-focus-inner, summary.button-confirm:focus::-moz-focus-inner, summary.button-confirm:active::-moz-focus-inner { border-color: white; }
input.button-confirm.button-disabled, button.button-confirm.button-disabled, a.button-confirm.button-disabled, summary.button-confirm.button-disabled { background-color: #418541; border-color: #397439; }
input.button-confirm:disabled, button.button-confirm:disabled, a.button-confirm:disabled, summary.button-confirm:disabled { background-color: #418541; border-color: #397439; }
input.button-alert, button.button-alert, a.button-alert, summary.button-alert { background-color: #d73d38; border-color: #a22521 #a22521 #8d201c; color: white !important; text-shadow: 0 1px 1px #222222; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d73d38), color-stop(100%, #b72925)); background-image: -webkit-linear-gradient(#d73d38, #b72925); background-image: -moz-linear-gradient(#d73d38, #b72925); background-image: -o-linear-gradient(#d73d38, #b72925); background-image: linear-gradient(#d73d38, #b72925); }
input.button-alert:hover, input.button-alert:focus, input.button-alert:active, button.button-alert:hover, button.button-alert:focus, button.button-alert:active, a.button-alert:hover, a.button-alert:focus, a.button-alert:active, summary.button-alert:hover, summary.button-alert:focus, summary.button-alert:active { background-color: #b72925; }
input.button-alert:focus::-moz-focus-inner, input.button-alert:active::-moz-focus-inner, button.button-alert:focus::-moz-focus-inner, button.button-alert:active::-moz-focus-inner, a.button-alert:focus::-moz-focus-inner, a.button-alert:active::-moz-focus-inner, summary.button-alert:focus::-moz-focus-inner, summary.button-alert:active::-moz-focus-inner { border-color: white; }
input.button-alert.button-disabled, button.button-alert.button-disabled, a.button-alert.button-disabled, summary.button-alert.button-disabled { background-color: #d73d38; border-color: #cc2e29; }
input.button-alert:disabled, button.button-alert:disabled, a.button-alert:disabled, summary.button-alert:disabled { background-color: #d73d38; border-color: #cc2e29; }
input.button-attention, button.button-attention, a.button-attention, summary.button-attention { background-color: #ffe75d; border-color: #ffdc11 #ffdc11 #f6d200; color: #222222 !important; text-shadow: 0 1px 1px white; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe75d), color-stop(100%, #ffdf2a)); background-image: -webkit-linear-gradient(#ffe75d, #ffdf2a); background-image: -moz-linear-gradient(#ffe75d, #ffdf2a); background-image: -o-linear-gradient(#ffe75d, #ffdf2a); background-image: linear-gradient(#ffe75d, #ffdf2a); }
input.button-attention:hover, input.button-attention:focus, input.button-attention:active, button.button-attention:hover, button.button-attention:focus, button.button-attention:active, a.button-attention:hover, a.button-attention:focus, a.button-attention:active, summary.button-attention:hover, summary.button-attention:focus, summary.button-attention:active { background-color: #ffdf2a; }
input.button-attention:focus::-moz-focus-inner, input.button-attention:active::-moz-focus-inner, button.button-attention:focus::-moz-focus-inner, button.button-attention:active::-moz-focus-inner, a.button-attention:focus::-moz-focus-inner, a.button-attention:active::-moz-focus-inner, summary.button-attention:focus::-moz-focus-inner, summary.button-attention:active::-moz-focus-inner { border-color: #222222; }
input.button-attention.button-disabled, button.button-attention.button-disabled, a.button-attention.button-disabled, summary.button-attention.button-disabled { background-color: #ffe75d; border-color: #ffe343; }
input.button-attention:disabled, button.button-attention:disabled, a.button-attention:disabled, summary.button-attention:disabled { background-color: #ffe75d; border-color: #ffe343; }
input.button-none, input.button-none:hover, input.button-none:focus, input.button-none:active, button.button-none, button.button-none:hover, button.button-none:focus, button.button-none:active, a.button-none, a.button-none:hover, a.button-none:focus, a.button-none:active, summary.button-none, summary.button-none:hover, summary.button-none:focus, summary.button-none:active { background: none; border-color: transparent !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; outline-color: transparent; text-decoration: underline; text-shadow: none; }
input.button-none:hover, input.button-none:focus, input.button-none:active, button.button-none:hover, button.button-none:focus, button.button-none:active, a.button-none:hover, a.button-none:focus, a.button-none:active, summary.button-none:hover, summary.button-none:focus, summary.button-none:active { color: #ffe75d !important; }
input.button-none.button-disabled, button.button-none.button-disabled, a.button-none.button-disabled, summary.button-none.button-disabled { text-decoration: none !important; }
input.button-none.button-disabled:hover, input.button-none.button-disabled:focus, input.button-none.button-disabled:active, button.button-none.button-disabled:hover, button.button-none.button-disabled:focus, button.button-none.button-disabled:active, a.button-none.button-disabled:hover, a.button-none.button-disabled:focus, a.button-none.button-disabled:active, summary.button-none.button-disabled:hover, summary.button-none.button-disabled:focus, summary.button-none.button-disabled:active { color: #222222 !important; }
input.button-none:disabled, button.button-none:disabled, a.button-none:disabled, summary.button-none:disabled { text-decoration: none !important; }
input.button-none:disabled:hover, input.button-none:disabled:focus, input.button-none:disabled:active, button.button-none:disabled:hover, button.button-none:disabled:focus, button.button-none:disabled:active, a.button-none:disabled:hover, a.button-none:disabled:focus, a.button-none:disabled:active, summary.button-none:disabled:hover, summary.button-none:disabled:focus, summary.button-none:disabled:active { color: #222222 !important; }

.button-small { font-size: 80%; line-height: 14px; padding: 2px 6px; }

.button-large { font-size: 105%; line-height: 16px; padding: 7px 12px; }

.button-xlarge { font-size: 120%; line-height: 18px; padding: 9px 14px; }

.button-group { position: relative; *zoom: 1; }
.button-group:before, .button-group:after { display: table; content: ""; }
.button-group:after { clear: both; }
.button-group .button { position: relative; float: left; margin-left: -1px; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.button-group .button:hover, .button-group .button:focus, .button-group .button:active { z-index: 2; }
.button-group > .button:first-child { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.button-group > .button:last-child { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.button-group li { list-style: none; float: left; }
.button-group li:first-child .button { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.button-group li:last-child .button { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

ul.button-group li:nth-child(1):nth-last-child(1) .button, p.button-group .button:nth-child(1):nth-last-child(1) { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-right: 4px; }

ul.button-group { margin: 10px; }

p.button-group { margin-top: 0; }

[class*="span-"] ul.button-group, [class*="span-"] ul.menu-horizontal { margin-left: 0; margin-right: 0; }

.button-toolbar { margin-bottom: 10px; margin-top: 10px; }
.button-toolbar p, .button-toolbar ul { margin-top: 0; margin-bottom: 0; }
.button-toolbar .button-group { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }

[dir="rtl"] .button-group .button { float: right; margin-left: auto; margin-right: -1px; }
[dir="rtl"] .button-group > .button:first-child { -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; -ms-border-radius: 0 4px 4px 0; -o-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; }
[dir="rtl"] .button-group > .button:last-child { -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
[dir="rtl"] .button-group li { float: right; }
[dir="rtl"] .button-group li:first-child .button { -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; -ms-border-radius: 0 4px 4px 0; -o-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; }
[dir="rtl"] .button-group li:last-child .button { -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
[dir="rtl"] ul.button-group li:nth-child(1):nth-last-child(1) .button, [dir="rtl"] p.button-group .button:nth-child(1):nth-last-child(1) { margin-right: auto; margin-left: 4px; }
[dir="rtl"] ul.button-group { margin: 0 10px 10px; }
[dir="rtl"] [class*="span-"] ul.button-group, [dir="rtl"] [class*="span-"] ul.menu-horizontal { margin-left: 0; margin-right: 0; }

[dir="rtl"].ie7 .button-group .button, [dir="rtl"].ie7 .button-group li { zoom: 1; float: none; display: inline; }

/* Desktop view */
.page-admin-structure #panels-dnd-main { overflow-x: scroll; }

@media screen and (min-width: 768px) and (min-device-width: 768px) { /* -----Build Include Section Start----- */
  /* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
  h1, h2, h3, h4, h5, h6, p, blockquote, form, img, pre, details { margin-left: 10px; margin-right: 10px; }
  .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 { position: relative; float: left; min-height: 1px; margin-left: 10px; margin-right: 10px; }
  .border-top, .border-right, .border-bottom, .border-left { position: relative; float: left; min-height: 1px; }
  #wb-main-in .span-1, #wb-main-in .span-2, #wb-main-in .span-3, #wb-main-in .span-4, #wb-main-in .span-5, #wb-main-in .span-6, #wb-main-in .span-7, #wb-main-in .span-8, #wb-main-in .span-9, #wb-main-in .span-10, #wb-main-in .span-11, #wb-main-in .span-12 { margin-bottom: 20px; }
  .row-start { margin-left: 0 !important; }
  .row-end { margin-right: 0  !important; }
  .clear, .clear-left, .clear-right { display: block; height: 0; margin: 0; overflow: hidden; visibility: hidden; width: 0; }
  .clear { clear: both; }
  .clear-left { clear: left; }
  .clear-right { clear: right; }
  .span-1 .span-1, .span-2 .span-2, .span-3 .span-3, .span-4 .span-4, .span-5 .span-5, .span-6 .span-6, .span-7 .span-7, .span-8 .span-8, .span-9 .span-9, .span-10 .span-10, .span-11 .span-11, .span-12 .span-12 { margin-left: 0 !important; margin-right: 0 !important; }
  .image-actual, #gcwu-aside .gcwu-minister-img img { width: auto !important; height: auto; }
  .span-1 img, .span-2 img, .span-3 img, .span-4 img, .span-5 img, .span-6 img, .span-7 img, .span-8 img, .span-9 img, .span-10 img, .span-11 img, .span-12 img, #gcwu-aside img { width: 100%; height: auto; -ms-interpolation-mode: bicubic; }
  .equalize { margin-bottom: 0 !important; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-1 { width: 40px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-3 { width: 160px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-5 { width: 280px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-7 { width: 400px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-9 { width: 520px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-11 { width: 640px; }
  .grid-12 .span-1 { width: 60px; }
  .grid-12 .span-2 { width: 140px; }
  .grid-12 .span-4 { width: 300px; }
  .grid-12 .span-5 { width: 380px; }
  .grid-12 .span-7 { width: 540px; }
  .grid-12 .span-8 { width: 620px; }
  .grid-12 .span-10 { width: 780px; }
  .grid-12 .span-11 { width: 860px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-2, .span-1 { width: 100px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-4, .grid-12 .span-3, .span-2 { width: 220px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-6, .span-3 { width: 340px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-8, .grid-12 .span-6, .span-4 { width: 460px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-10, .span-5 { width: 580px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-12, .grid-12 .span-9, .span-6 { width: 700px; }
  .span-7 { width: 820px; }
  .grid-12 .span-12, .span-8 { width: 940px; }
  /* Right to left (RTL) CSS */
  [dir="rtl"] .span-1, [dir="rtl"] .span-2, [dir="rtl"] .span-3, [dir="rtl"] .span-4, [dir="rtl"] .span-5, [dir="rtl"] .span-6, [dir="rtl"] .span-7, [dir="rtl"] .span-8, [dir="rtl"] .span-9, [dir="rtl"] .span-10, [dir="rtl"] .span-11, [dir="rtl"] .span-12 { float: right; }
  [dir="rtl"] .border-top, [dir="rtl"] .border-right, [dir="rtl"] .border-bottom, [dir="rtl"] .border-left { float: right; }
  [dir="rtl"] .row-start { margin-left: 10px !important; margin-right: 0 !important; }
  [dir="rtl"] .row-end { margin-right: 10px !important; margin-left: 0  !important; }
  /* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
  body { min-width: 960px; }
  #wb-head, #wb-core, #wb-foot, #wb-head-in, #gcwu-gcnb, #gcwu-bnr, #gcwu-psnb, #gcwu-bc, #wb-foot-in, #gcwu-gcft, #gcwu-sft { width: 100%; }
  #wb-core-in, #gcwu-gcnb-in, #gcwu-bnr-in, #gcwu-psnb-in, #gcwu-bc-in, #gcwu-gcft-in, #gcwu-sft-in { margin: auto; }
  #gcwu-title-in { width: 360px; }
  #wb-body-sec-sup #wb-main { width: 480px; right: 240px; }
  #wb-sec { width: 240px; }
  #wb-sup { width: 240px; left: 480px; }
  #gcwu-gcft li { margin: 12px 0 13px 44px; }
  #gcwu-gcft li:first-child { margin-left: 10px; }
  li#gcwu-gcft-ca { margin-left: 0 !important; }
  li#gcwu-gcft-ca a { padding-left: 44px; }
  #wb-core-in, #gcwu-gcnb-in, #gcwu-bnr-in, #gcwu-psnb-in, #gcwu-bc-in, #gcwu-gcft-in, #gcwu-sft-in, #gcwu-psnb .mb-menu, #wb-body #wb-main { width: 960px; }
  [id|="wb-body-sec"] [id|="wb-main"], #wb-body #gcwu-content { width: 720px; }
  #wb-body-sec-sup #wb-main-in, #wb-body-sec #gcwu-content { width: 480px; }
  #gcwu-aside, #gcwu-priorities { width: 220px; }
  /* Right to left (RTL) CSS */
  [dir="rtl"] #wb-body-sec-sup #wb-main { right: auto; left: 240px; }
  [dir="rtl"] #wb-sup { left: auto; right: 480px; }
  #panels-dnd-main #wb-main { width: 720px; }
  /* -----Build Include Section End----- */ }
@media screen and (min-width: 768px) and (max-width: 959px) and (min-device-width: 768px) { /* -----Build Include Section Start----- */
  /* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
  /* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
  [id|="wb-body-sec"] #wb-core .grid-12 .span-1 { width: 18px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-1 { margin-left: 48px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-2 { width: 56px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-2 { margin-left: 86px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-3 { width: 94px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-3 { margin-left: 124px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-4 { width: 132px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-4 { margin-left: 162px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-5 { width: 170px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-5 { margin-left: 200px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-6 { width: 208px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-6 { margin-left: 238px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-7 { width: 246px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-7 { margin-left: 276px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-8 { width: 284px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-8 { margin-left: 314px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-9 { width: 322px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-9 { margin-left: 352px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-10 { width: 360px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-10 { margin-left: 390px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-11 { width: 398px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-11 { margin-left: 428px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-12 { width: 436px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-12 { margin-left: 466px; }
  .grid-12 .span-1 { width: 34px; }
  .grid-12 .offset-1 { margin-left: 64px; }
  .grid-12 .span-2 { width: 88px; }
  .grid-12 .offset-2 { margin-left: 118px; }
  .grid-12 .span-3 { width: 142px; }
  .grid-12 .offset-3 { margin-left: 172px; }
  .grid-12 .span-4 { width: 196px; }
  .grid-12 .offset-4 { margin-left: 226px; }
  .grid-12 .span-5 { width: 250px; }
  .grid-12 .offset-5 { margin-left: 280px; }
  .grid-12 .span-6 { width: 304px; }
  .grid-12 .offset-6 { margin-left: 334px; }
  .grid-12 .span-7 { width: 358px; }
  .grid-12 .offset-7 { margin-left: 388px; }
  .grid-12 .span-8 { width: 412px; }
  .grid-12 .offset-8 { margin-left: 442px; }
  .grid-12 .span-9 { width: 466px; }
  .grid-12 .offset-9 { margin-left: 496px; }
  .grid-12 .span-10 { width: 520px; }
  .grid-12 .offset-10 { margin-left: 550px; }
  .grid-12 .span-11 { width: 574px; }
  .grid-12 .offset-11 { margin-left: 604px; }
  .grid-12 .span-12 { width: 628px; }
  .grid-12 .offset-12 { margin-left: 658px; }
  .span-1 { width: 66px; }
  .offset-1 { margin-left: 96px; }
  .span-2 { width: 152px; }
  .offset-2 { margin-left: 182px; }
  .span-3 { width: 238px; }
  .offset-3 { margin-left: 268px; }
  .span-4 { width: 324px; }
  .offset-4 { margin-left: 354px; }
  .span-5 { width: 410px; }
  .offset-5 { margin-left: 440px; }
  .span-6 { width: 496px; }
  .offset-6 { margin-left: 526px; }
  .span-7 { width: 582px; }
  .offset-7 { margin-left: 612px; }
  .span-8 { width: 668px; }
  .offset-8 { margin-left: 698px; }
  .span-1 { width: 66px; }
  .offset-1 { margin-left: 96px; }
  .span-2 { width: 152px; }
  .offset-2 { margin-left: 182px; }
  .span-3 { width: 238px; }
  .offset-3 { margin-left: 268px; }
  .span-4 { width: 324px; }
  .offset-4 { margin-left: 354px; }
  .span-5 { width: 410px; }
  .offset-5 { margin-left: 440px; }
  .span-6 { width: 496px; }
  .offset-6 { margin-left: 526px; }
  .span-7 { width: 582px; }
  .offset-7 { margin-left: 612px; }
  .span-8 { width: 668px; }
  .offset-8 { margin-left: 698px; }
  .span-1 { width: 66px; }
  .offset-1 { margin-left: 96px; }
  .span-2 { width: 152px; }
  .offset-2 { margin-left: 182px; }
  .span-3 { width: 238px; }
  .offset-3 { margin-left: 268px; }
  .span-4 { width: 324px; }
  .offset-4 { margin-left: 354px; }
  .span-5 { width: 410px; }
  .offset-5 { margin-left: 440px; }
  .span-6 { width: 496px; }
  .offset-6 { margin-left: 526px; }
  .span-7 { width: 582px; }
  .offset-7 { margin-left: 612px; }
  .span-8 { width: 668px; }
  .offset-8 { margin-left: 698px; }
  .span-1 { width: 66px; }
  .offset-1 { margin-left: 96px; }
  .span-2 { width: 152px; }
  .offset-2 { margin-left: 182px; }
  .span-3 { width: 238px; }
  .offset-3 { margin-left: 268px; }
  .span-4 { width: 324px; }
  .offset-4 { margin-left: 354px; }
  .span-5 { width: 410px; }
  .offset-5 { margin-left: 440px; }
  .span-6 { width: 496px; }
  .offset-6 { margin-left: 526px; }
  .span-7 { width: 582px; }
  .offset-7 { margin-left: 612px; }
  .span-8 { width: 668px; }
  .offset-8 { margin-left: 698px; }
  .span-1 { width: 66px; }
  .offset-1 { margin-left: 96px; }
  .span-2 { width: 152px; }
  .offset-2 { margin-left: 182px; }
  .span-3 { width: 238px; }
  .offset-3 { margin-left: 268px; }
  .span-4 { width: 324px; }
  .offset-4 { margin-left: 354px; }
  .span-5 { width: 410px; }
  .offset-5 { margin-left: 440px; }
  .span-6 { width: 496px; }
  .offset-6 { margin-left: 526px; }
  .span-7 { width: 582px; }
  .offset-7 { margin-left: 612px; }
  .span-8 { width: 668px; }
  .offset-8 { margin-left: 698px; }
  .span-1 { width: 66px; }
  .offset-1 { margin-left: 96px; }
  .span-2 { width: 152px; }
  .offset-2 { margin-left: 182px; }
  .span-3 { width: 238px; }
  .offset-3 { margin-left: 268px; }
  .span-4 { width: 324px; }
  .offset-4 { margin-left: 354px; }
  .span-5 { width: 410px; }
  .offset-5 { margin-left: 440px; }
  .span-6 { width: 496px; }
  .offset-6 { margin-left: 526px; }
  .span-7 { width: 582px; }
  .offset-7 { margin-left: 612px; }
  .span-8 { width: 668px; }
  .offset-8 { margin-left: 698px; }
  .span-1 { width: 66px; }
  .offset-1 { margin-left: 96px; }
  .span-2 { width: 152px; }
  .offset-2 { margin-left: 182px; }
  .span-3 { width: 238px; }
  .offset-3 { margin-left: 268px; }
  .span-4 { width: 324px; }
  .offset-4 { margin-left: 354px; }
  .span-5 { width: 410px; }
  .offset-5 { margin-left: 440px; }
  .span-6 { width: 496px; }
  .offset-6 { margin-left: 526px; }
  .span-7 { width: 582px; }
  .offset-7 { margin-left: 612px; }
  .span-8 { width: 668px; }
  .offset-8 { margin-left: 698px; }
  .span-1 { width: 66px; }
  .offset-1 { margin-left: 96px; }
  .span-2 { width: 152px; }
  .offset-2 { margin-left: 182px; }
  .span-3 { width: 238px; }
  .offset-3 { margin-left: 268px; }
  .span-4 { width: 324px; }
  .offset-4 { margin-left: 354px; }
  .span-5 { width: 410px; }
  .offset-5 { margin-left: 440px; }
  .span-6 { width: 496px; }
  .offset-6 { margin-left: 526px; }
  .span-7 { width: 582px; }
  .offset-7 { margin-left: 612px; }
  .span-8 { width: 668px; }
  .offset-8 { margin-left: 698px; }
  /* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
  body { min-width: 960px; }
  #wb-head, #wb-core, #wb-foot, #wb-head-in, #gcwu-gcnb, #gcwu-bnr, #gcwu-psnb, #gcwu-bc, #wb-foot-in, #gcwu-gcft, #gcwu-sft { width: 100%; }
  #wb-core-in, #gcwu-gcnb-in, #gcwu-bnr-in, #gcwu-psnb-in, #gcwu-bc-in, #gcwu-gcft-in, #gcwu-sft-in { margin: auto; }
  #gcwu-title-in { width: 360px; }
  #wb-body-sec-sup #wb-main { width: 480px; right: 240px; }
  #wb-sec { width: 240px; }
  #wb-sup { width: 240px; left: 480px; }
  #gcwu-gcft li { margin: 12px 0 13px 44px; }
  #gcwu-gcft li:first-child { margin-left: 10px; }
  li#gcwu-gcft-ca { margin-left: 0 !important; }
  li#gcwu-gcft-ca a { padding-left: 44px; }
  #wb-core-in, #gcwu-gcnb-in, #gcwu-bnr-in, #gcwu-psnb-in, #gcwu-bc-in, #gcwu-gcft-in, #gcwu-sft-in, #gcwu-psnb .mb-menu, #wb-body #wb-main { width: 960px; }
  [id|="wb-body-sec"] [id|="wb-main"], #wb-body #gcwu-content { width: 720px; }
  #wb-body-sec-sup #wb-main-in, #wb-body-sec #gcwu-content { width: 480px; }
  #gcwu-aside, #gcwu-priorities { width: 220px; }
  #panels-dnd-main #wb-main { width: 568px; }
  /* -----Build Include Section End----- */ }
@media screen and (min-width: 1200px) and (min-device-width: 768px) { /* -----Build Include Section Start----- */
  /* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
  /* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
  [id|="wb-body-sec"] #wb-core .grid-12 .span-1 { width: 50px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-1 { margin-left: 80px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-2 { width: 120px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-2 { margin-left: 150px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-3 { width: 190px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-3 { margin-left: 220px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-4 { width: 260px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-4 { margin-left: 290px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-5 { width: 330px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-5 { margin-left: 360px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-6 { width: 400px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-6 { margin-left: 430px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-7 { width: 470px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-7 { margin-left: 500px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-8 { width: 540px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-8 { margin-left: 570px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-9 { width: 610px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-9 { margin-left: 640px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-10 { width: 680px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-10 { margin-left: 710px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-11 { width: 750px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-11 { margin-left: 780px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .span-12 { width: 820px; }
  [id|="wb-body-sec"] #wb-core .grid-12 .offset-12 { margin-left: 850px; }
  .grid-12 .span-1 { width: 80px; }
  .grid-12 .offset-1 { margin-left: 110px; }
  .grid-12 .span-2 { width: 180px; }
  .grid-12 .offset-2 { margin-left: 210px; }
  .grid-12 .span-3 { width: 280px; }
  .grid-12 .offset-3 { margin-left: 310px; }
  .grid-12 .span-4 { width: 380px; }
  .grid-12 .offset-4 { margin-left: 410px; }
  .grid-12 .span-5 { width: 480px; }
  .grid-12 .offset-5 { margin-left: 510px; }
  .grid-12 .span-6 { width: 580px; }
  .grid-12 .offset-6 { margin-left: 610px; }
  .grid-12 .span-7 { width: 680px; }
  .grid-12 .offset-7 { margin-left: 710px; }
  .grid-12 .span-8 { width: 780px; }
  .grid-12 .offset-8 { margin-left: 810px; }
  .grid-12 .span-9 { width: 880px; }
  .grid-12 .offset-9 { margin-left: 910px; }
  .grid-12 .span-10 { width: 980px; }
  .grid-12 .offset-10 { margin-left: 1010px; }
  .grid-12 .span-11 { width: 1080px; }
  .grid-12 .offset-11 { margin-left: 1110px; }
  .grid-12 .span-12 { width: 1180px; }
  .grid-12 .offset-12 { margin-left: 1210px; }
  .span-1 { width: 130px; }
  .offset-1 { margin-left: 160px; }
  .span-2 { width: 280px; }
  .offset-2 { margin-left: 310px; }
  .span-3 { width: 430px; }
  .offset-3 { margin-left: 460px; }
  .span-4 { width: 580px; }
  .offset-4 { margin-left: 610px; }
  .span-5 { width: 730px; }
  .offset-5 { margin-left: 760px; }
  .span-6 { width: 880px; }
  .offset-6 { margin-left: 910px; }
  .span-7 { width: 1030px; }
  .offset-7 { margin-left: 1060px; }
  .span-8 { width: 1180px; }
  .offset-8 { margin-left: 1210px; }
  .span-1 { width: 130px; }
  .offset-1 { margin-left: 160px; }
  .span-2 { width: 280px; }
  .offset-2 { margin-left: 310px; }
  .span-3 { width: 430px; }
  .offset-3 { margin-left: 460px; }
  .span-4 { width: 580px; }
  .offset-4 { margin-left: 610px; }
  .span-5 { width: 730px; }
  .offset-5 { margin-left: 760px; }
  .span-6 { width: 880px; }
  .offset-6 { margin-left: 910px; }
  .span-7 { width: 1030px; }
  .offset-7 { margin-left: 1060px; }
  .span-8 { width: 1180px; }
  .offset-8 { margin-left: 1210px; }
  .span-1 { width: 130px; }
  .offset-1 { margin-left: 160px; }
  .span-2 { width: 280px; }
  .offset-2 { margin-left: 310px; }
  .span-3 { width: 430px; }
  .offset-3 { margin-left: 460px; }
  .span-4 { width: 580px; }
  .offset-4 { margin-left: 610px; }
  .span-5 { width: 730px; }
  .offset-5 { margin-left: 760px; }
  .span-6 { width: 880px; }
  .offset-6 { margin-left: 910px; }
  .span-7 { width: 1030px; }
  .offset-7 { margin-left: 1060px; }
  .span-8 { width: 1180px; }
  .offset-8 { margin-left: 1210px; }
  .span-1 { width: 130px; }
  .offset-1 { margin-left: 160px; }
  .span-2 { width: 280px; }
  .offset-2 { margin-left: 310px; }
  .span-3 { width: 430px; }
  .offset-3 { margin-left: 460px; }
  .span-4 { width: 580px; }
  .offset-4 { margin-left: 610px; }
  .span-5 { width: 730px; }
  .offset-5 { margin-left: 760px; }
  .span-6 { width: 880px; }
  .offset-6 { margin-left: 910px; }
  .span-7 { width: 1030px; }
  .offset-7 { margin-left: 1060px; }
  .span-8 { width: 1180px; }
  .offset-8 { margin-left: 1210px; }
  .span-1 { width: 130px; }
  .offset-1 { margin-left: 160px; }
  .span-2 { width: 280px; }
  .offset-2 { margin-left: 310px; }
  .span-3 { width: 430px; }
  .offset-3 { margin-left: 460px; }
  .span-4 { width: 580px; }
  .offset-4 { margin-left: 610px; }
  .span-5 { width: 730px; }
  .offset-5 { margin-left: 760px; }
  .span-6 { width: 880px; }
  .offset-6 { margin-left: 910px; }
  .span-7 { width: 1030px; }
  .offset-7 { margin-left: 1060px; }
  .span-8 { width: 1180px; }
  .offset-8 { margin-left: 1210px; }
  .span-1 { width: 130px; }
  .offset-1 { margin-left: 160px; }
  .span-2 { width: 280px; }
  .offset-2 { margin-left: 310px; }
  .span-3 { width: 430px; }
  .offset-3 { margin-left: 460px; }
  .span-4 { width: 580px; }
  .offset-4 { margin-left: 610px; }
  .span-5 { width: 730px; }
  .offset-5 { margin-left: 760px; }
  .span-6 { width: 880px; }
  .offset-6 { margin-left: 910px; }
  .span-7 { width: 1030px; }
  .offset-7 { margin-left: 1060px; }
  .span-8 { width: 1180px; }
  .offset-8 { margin-left: 1210px; }
  .span-1 { width: 130px; }
  .offset-1 { margin-left: 160px; }
  .span-2 { width: 280px; }
  .offset-2 { margin-left: 310px; }
  .span-3 { width: 430px; }
  .offset-3 { margin-left: 460px; }
  .span-4 { width: 580px; }
  .offset-4 { margin-left: 610px; }
  .span-5 { width: 730px; }
  .offset-5 { margin-left: 760px; }
  .span-6 { width: 880px; }
  .offset-6 { margin-left: 910px; }
  .span-7 { width: 1030px; }
  .offset-7 { margin-left: 1060px; }
  .span-8 { width: 1180px; }
  .offset-8 { margin-left: 1210px; }
  .span-1 { width: 130px; }
  .offset-1 { margin-left: 160px; }
  .span-2 { width: 280px; }
  .offset-2 { margin-left: 310px; }
  .span-3 { width: 430px; }
  .offset-3 { margin-left: 460px; }
  .span-4 { width: 580px; }
  .offset-4 { margin-left: 610px; }
  .span-5 { width: 730px; }
  .offset-5 { margin-left: 760px; }
  .span-6 { width: 880px; }
  .offset-6 { margin-left: 910px; }
  .span-7 { width: 1030px; }
  .offset-7 { margin-left: 1060px; }
  .span-8 { width: 1180px; }
  .offset-8 { margin-left: 1210px; }
  /* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt */
  body { min-width: 1200px; }
  #gcwu-title-in { width: 500px; }
  #wb-body-sec-sup #wb-main { width: 600px; left: 300px; }
  #wb-body-sec-sup #wb-main-in { width: 600px; }
  #wb-sec { width: 300px; }
  #wb-sup { width: 300px; left: 600px; }
  #gcwu-gcft li { margin: 12px 0 13px 88px; }
  #gcwu-gcft li:first-child { margin-left: 10px; }
  li#gcwu-gcft-ca { margin-left: 0 !important; }
  #wb-core-in, #gcwu-gcnb-in, #gcwu-bnr-in, #gcwu-psnb-in, #gcwu-bc-in, #gcwu-gcft-in, #gcwu-sft-in, #gcwu-psnb .mb-menu, #wb-body #wb-main { width: 1200px; }
  #wb-body #gcwu-content, [id|="wb-body-sec"] [id|="wb-main"] { width: 900px; }
  #wb-body-sec #gcwu-content { width: 580px; }
  #gcwu-aside, #gcwu-priorities { width: 280px; }
  /* Right to left (RTL) CSS */
  [dir="rtl"] #wb-body-sec-sup #wb-main { left: auto; right: 300px; }
  [dir="rtl"] #wb-sup { left: auto; right: 600px; }
  #panels-dnd-main #wb-main { width: 900px; }
  /* -----Build Include Section End----- */ }
