/**
 * Custom styling for Changing Layout Feature
*/

div.form-item-categories {
  display: none;
}

div.ctools-modal-content div.form-item-categories label {
  float: left;
  font-weight: normal;
  margin-top: 2px;
  margin-right: 5px;
  width: auto;
}

#panels-layout-category-WetKit-Layouts {
  margin: 3% 6%;
}

div.ctools-modal-content .panels-choose-layout .dependent-options {
  padding-left: 0px;
}

div.modal-content-preview-button {
  padding-top: 100px;
  text-align: center;
}

#panels-layout-category-WetKit-Layouts-wrapper .layout-link div {
  margin-top: 5px;
}

#panels-layout-category-WetKit-Layouts-wrapper .panels-layouts-category {
  padding-left: 15px;
  padding-bottom: 20px;
  font-size: 16px;
  text-decoration: underline;
}

#panels-layout-category-WetKit-Layouts-wrapper .layout-link {
  float: left;
  height: 68px;
  padding: 1.25em;
  text-align: center;
  width: 68px;
  padding-bottom: 80px
}

#panels-layout-category-WetKit-Layouts-wrapper .layout-link:hover {
  background-color: #99ccff;
}

#panels-layout-category-WetKit-Layouts-wrapper .current-layout {
  background-color: #ffffc9;
}
