/**
 * Custom styling for Changing Layout Feature
*/

div.layout-icon .caption {
  padding-left: 10px;
}

div.ctools-modal-content div.form-item-categories label {
  float: left;
  font-weight: normal;
  margin-top: 2px;
  margin-right: 5px;
  width: auto;
}

#panels-layout-category-WetKit-Layouts {
  margin: 3% 6%;
}

div.ctools-modal-content .panels-choose-layout .dependent-options {
  padding-left: 0px;
}

div.modal-content-preview-button {
  padding-top: 100px;
  text-align: center;
}

#panels-layout-category-WetKit-Layouts-wrapper .layout-link div {
  margin-top: 5px;
}

#panels-layout-category-WetKit-Layouts-wrapper .panels-layouts-category {
  padding-left: 15px;
  padding-bottom: 20px;
  font-size: 16px;
  text-decoration: underline;
}

#panels-layout-category-WetKit-Layouts-wrapper .layout-link {
  float: left;
  height: 68px;
  padding: 1.25em;
  text-align: center;
  width: 68px;
  margin-bottom: 60px
}

#panels-layout-category-WetKit-Layouts-wrapper .layout-link:hover {
  background-color: #99ccff;
}

#panels-layout-category-WetKit-Layouts-wrapper .current-layout {
  background-color: #ffffc9;
}

body #panels-dnd-main div.panel-region {
  border: 1px dashed #000;
  background: #e8e8e8;
}

.page-admin-dashboard h1 {
  margin-left: 0px;
}

.page-admin-dashboard .panel-pane h2.pane-title {
  margin-top: 15px;
  margin-left: 0px;
  font-size: 14px;
}

.page-admin-dashboard-files .view-filters form {
  margin-left: 0px;
}

#panels-dnd-main .panel-region h2 {
  border-bottom: none;
}

#panels-dnd-main .panel-pane-is-title {
  border: 1px solid #000;
}

