/**
 * Wetkit Modal Magic Styles
 */

/**
 * Styles for Menu Block Pane
 */
.menu-block-processed {
  border: 0;
}

#menu-block-settings {
  float: left;
  width: 48%;
}

.menu-block-ctools-buttons {
  float: left;
  clear: left;
}

@media only screen and (max-width: 480px) {
  /* Hide IPE from mobile, since it doesn't really work anyway */
  #panels-ipe-control-container {
    display: none !important;
  }
}

/**
 * Override of CTools Throbber
 */
a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px !important;
  background: url(images/status-active.gif) right center no-repeat !important;
}

div.ctools-ajaxing {
  float: left;
  width: 18px;
  background: url(images/status-active.gif) center center no-repeat !important;
}

.ajax-progress .throbber {
  display: none;
}

.ajax-progress-throbber {
  background-image: url("images/status-active.gif");
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 16px;
  opacity: .9;
  padding: 3px;
  width: 16px;
  vertical-align: middle;
}

.ajax-progress-throbber .message {
  display: none;
}

/**
 * Custom styling for Changing Layout Feature
*/
div.ctools-modal-content div.form-item-categories label {
  float: left;
  font-weight: normal;
  margin-top: 2px;
  margin-right: 5px;
  width: auto;
}

#panels-layout-category-WetKit {
  margin: 3% 6%;
}

div.ctools-modal-content .panels-choose-layout .dependent-options {
  padding-left: 0px;
}

#panels-layout-category-WetKit-wrapper .panels-layouts-category,
#panels-layout-category-WetKit-wrapper .layout-link div {
  display: none;
}

#panels-layout-category-WetKit-wrapper .layout-link {
  float: left;
  height: 68px;
  padding: 1.25em;
  text-align: center;
  width: 68px;
}

#panels-layout-category-WetKit-wrapper .layout-link:hover {
  background-color: #BBB;
}

#panels-layout-category-WetKit-wrapper .current-layout {
  background-color: #DDD;
}

/**
 * Custom styling for exposed views filter options
 */
#modal-content .form-item-offset,
#modal-content .form-item-items-per-page,
#modal-content .form-item-sort-order, 
#modal-content .form-item-sort-by {
  float: left;
  width: 175px;
}

#modal-content .form-item-offset,
#modal-content .form-item-sort-order {
  clear: none;
}

#modal-content .form-item-sort-order label,
#modal-content .form-item-sort-by label {
  float: left;
  font-weight: normal;
  margin-right: 5px;
  width: auto;
  margin-top: 3px;
  font-size: 100%;
}

#modal-content .form-item-exposed-pager-id label {
  font-weight: normal;
}

#modal-content #edit-context label {
  float: left;
  font-weight: normal;
  width: auto;
  margin-top: 2px;
  margin-right: 5px;
}

#modal-content #views-exposed-pane div.form-item {
  display: inline;
}

#modal-content .form-item-view-settings {
  display:inline;
  margin-left: 5px;
}

/* Handle the Header Type Setting Element */
#modal-content .form-item-header-type label {
  display:inline;
  clear: none;
  font-weight: normal;
  font-size: 12px;
  margin-top: 5px;
}

#modal-content .form-item-header-type select {
  display: inline;
  margin-left: 5px;
  margin-top: 5px;
}

#modal-content .view-settings-wrapper .field-prefix {
  padding-right: 5px;
}

#modal-content .view-settings-wrapper .form-radios {
  display: inline;
  padding-right: 5px;
}

/**
 * CSS Styles for the Landing Page Wizard
 */
#ctools-stylizer-edit-style-form-choose .wizard-trail,
#ctools-stylizer-edit-style-form-default .wizard-trail {
  display: none;
}