@charset "utf-8";
/*!
 * CSS presentation layer v1.3a6 / Couche présentation de CSS v1.3a6
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */
 
/* Element normalization / Normalisation des éléments */
input, select, button, textarea {font-size:100%}
 
.cn-invisible, .cn-show-onfocus, #cn-skip-head a:link, #cn-skip-head a:visited, #cn-left-col h2, #cn-right-col h2, #cn-foot h2 {clip: rect(1px 1px 1px 1px);}
.cn-show-onfocus:focus, .cn-show-onfocus:active, #cn-skip-head a:focus, #cn-skip-head a:active {width: auto !important; height: auto !important; overflow: visible !important; white-space: nowrap;}
.cn-show-onhover, a.cn-linkdesc span span {filter:alpha(opacity=0);}
.cn-show-onhover:hover, .cn-show-onhover:focus, .cn-show-onhover:active, a.cn-linkdesc:hover span span, a.cn-linkdesc:focus span span, a.cn-linkdesc:active span span {filter:alpha(opacity=100);}
#cn-skip-head {float: none;}
#cn-skip-head ul {float: left;}
a.cn-linkdesc span span {top: -9000em;}