@charset "utf-8";
/*!
 * CSS presentation layer v1.3a6 / Couche présentation de CSS v1.3a6
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */

/* Element normalization / Normalisation des éléments */
body {margin: 0; padding: 0;}
a:active, a:focus {cursor: auto;}
a img {border: none;}
abbr, acronym {cursor: help; border-bottom: 1px dotted #000;} 
q:before, q:after {content: "";}
dl, ol, ul {margin-top: 1em; margin-bottom: 1em;}
table {border-collapse: collapse; border-spacing: 0;}
a[href]:hover, a[href]:active, a[href]:focus {color: #C00;}
body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 80%;}
pre, code, kbd, samp, tt {font-family: "Courier New", Courier, monospace; font-size: 112%;}
address {font-style: normal;}
h1, h2, h3, h4, h5, h6 {margin: 1em 0; font-weight: bold;}
h1 {font-size: 170%;}
h2 {font-size: 155%;}
h3 {font-size: 140%;}
h4 {font-size: 130%;}
h5 {font-size: 120%;}
h6 {font-size: 110%;}

/* Hide non-visual elements / Cacher les éléments non-visuel */
.cn-invisible, .cn-show-onfocus, #cn-skip-head a, #cn-skip-head a:link, #cn-skip-head a:visited, #cn-left-col h2, #cn-right-col h2, #cn-foot h2 {position: absolute; clip: rect(1px, 1px, 1px, 1px); height: 1px !important; width: 1px !important; overflow: hidden !important; margin: 0 !important;}
.cn-show-onfocus:focus, .cn-show-onfocus:active, #cn-skip-head a:focus, #cn-skip-head a:active {position: static; clip: auto; height: inherit !important; width: inherit !important; overflow: inherit !important; margin: inherit !important;}
.cn-show-onhover {opacity: 0;}
.cn-show-onhover:hover, .cn-show-onhover:focus, .cn-show-onhover:active {opacity: 1;}

/* Skip header / Début de l'en-tête */
#cn-skip-head {height: 0; float: left;}
#cn-skip-head ul {list-style-type: none; margin-top: -1.8em;}
#cn-skip-head li {position: absolute; top: 0; width: auto; z-index: 3;}
#cn-skip-head #cn-sh-link-1 {right: 50%;}
#cn-skip-head #cn-sh-link-2 {left: 50%;}
#cn-skip-head a {padding: 5px; display: inline-block; width: 100%;}
#cn-skip-head a, #cn-skip-head a:link, #cn-skip-head a:visited {color: #FFF; background-color: transparent; font-weight: bold;}
#cn-skip-head a:hover, #cn-skip-head a:focus, #cn-skip-head a:active {background-color: #000; text-decoration: none; color: #FFF;}

/* Link description / Description de lien */
a.cn-linkdesc {position: relative; z-index: 24;}
a.cn-linkdesc:hover, a.cn-linkdesc:focus, a.cn-linkdesc:active {z-index: 25; outline: 0; text-decoration: none;}
a.cn-linkdesc span span {position: absolute; clip: rect(1px, 1px, 1px, 1px); height: 1px !important; width: 1px !important; overflow: hidden !important;}
a.cn-linkdesc:hover span span, a.cn-linkdesc:focus span span, a.cn-linkdesc:active span span {clip: auto; height: auto !important; width: auto !important; overflow: visible !important; top: 2em; left: 2.2em; white-space: nowrap; border: 1px solid InfoText; background: InfoBackground; color: InfoText; font: message-box; font-size: 0.85em; padding: 2px 4px; text-align: left;}