@charset "utf-8";
/*!
 * CSS presentation layer v1.3a6 / Couche présentation de CSS v1.3a6
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */
 
/* Element normalization / Normalisation des éléments */
input, select, button, textarea {font-size:100%}
 
a:hover, a:active, a:focus {color: #C00;}
.cn-invisible, .cn-show-onfocus, #cn-skip-head a:link, #cn-skip-head a:visited, #cn-left-col h2, #cn-right-col h2, #cn-foot h2 {clip: rect(1px 1px 1px 1px);}
.cn-show-onfocus:focus, .cn-show-onfocus:active, #cn-skip-head a:focus, #cn-skip-head a:active {width: auto !important; height: auto !important; white-space: nowrap;}
.cn-show-onhover, a.cn-linkdesc span span {filter: alpha(opacity = 0); zoom: 1;}
.cn-show-onhover:hover, .cn-show-onhover:focus, .cn-show-onhover:active, a.cn-linkdesc:hover span span, a.cn-linkdesc:focus span span, a.cn-linkdesc:active span span {filter: alpha(opacity = 100); zoom: 1;}

#cn-skip-head {float: none; margin-top: -13px;}
#cn-skip-head ul {height: 10px; margin-top: -10px;}
#cn-skip-head li {padding-bottom: 5px; width: 1%; top: 13px;}

#cn-body-inner-3col fieldset {width: 97%;}
#cn-body-inner-1col #cn-foot {margin-top: -0.21em;}
#cn-body-inner-3col #cn-cols, #cn-body-inner-2col #cn-cols, #cn-body-inner-2col-right #cn-cols {position: relative;}
#cn-cols {float: none; width: auto;}
#cn-centre-col, #cn-left-col, #cn-right-col {overflow-x: hidden;}
#cn-centre-col-inner {padding-bottom: 1px;}
#cn-centre-col-inner, #cn-left-col-inner, #cn-right-col-inner {height: 1%;}
#cn-centre-col-gap {width: 100%;}
#cn-body-inner-2col #cn-centre-col-gap {left: 0;}
#cn-body-inner-2col-right #cn-centre-col-gap {right: 0;}
#cn-body-inner-3col #cn-centre-col-gap {left: 0; right: 0;}

#cn-left-col-gap, #cn-centre-col-gap, #cn-right-col-gap {height: 1000em;}
#cn-right-col-gap {right: 7.7%;}
#cn-left-col a, #cn-right-col a {height: 1%;}

#cn-foot {position: absolute; height: 1000em; border: none; border-left: 10px solid #FFF; border-right: 10px solid #FFF; margin-left: -10px;}
#cn-foot-inner {position: absolute; padding-bottom: 10px;}

a.cn-linkdesc span span {top: -9000em;}