/**
 * Basic CSS Treatement for Featured Element
 */
.node-featured .pane-node-title .pane-content a {
  font-size: 1.5em;
}

.node-featured .pane-node-title .pane-content {
  margin-bottom: 10px;
}

.node-featured .panel-display>div {
  margin-bottom: 0; /* reset the bottom margins on layouts used for featuring content */
}
