h4.ui-accordion-header {
  cursor: pointer;
  padding: .25em 1.75em;
}

.ui-accordion .accordion-content {
  font-size: .8em;
  padding: .25em 2em .5em 2em;
}

.accordion-content .pane-title { 
  display : none ; 
}
