@charset "utf-8";
/*!!
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 *
 * Version: @wet-boew-build.version@
 *
 */

@import "compass/css3/inline-block";
@import 'includes/_button.scss';
@import 'includes/_color.scss';
@import 'includes/_mixins.scss';

@include colors;
@include buttons;

/* Desktop view */
.page-admin-structure #panels-dnd-main {overflow-x:scroll;}
@media screen and (min-width: 768px) and (min-device-width: 768px) {
/* -----Build Include Section Start----- */
@import 'responsive';
@import 'default-responsive';
#panels-dnd-main #wb-main { width: 720px;}
/* -----Build Include Section End----- */
}

@media screen and (min-width: 768px) and (max-width: 959px) and (min-device-width: 768px) {
/* -----Build Include Section Start----- */
@import 'responsive-768';
@import 'default-responsive-768';
#panels-dnd-main #wb-main { width: 568px;}
/* -----Build Include Section End----- */
}

@media screen and (min-width: 1200px) and (min-device-width: 768px) {
/* -----Build Include Section Start----- */
@import 'responsive-1200';
@import 'default-responsive-1200';
#panels-dnd-main #wb-main { width: 900px;}
/* -----Build Include Section End----- */
}
