#panelizer-settings-form .tabs {
  position: relative;
  right: 0px;
}

.form-item .form-autocomplete {
 padding: 0px 4px;
}

#gcwu-srchbx label {
  height: auto !important;
  width: auto !important;
  overflow: visible !important;
}

.krumo-footnote img {
  width: auto;
}

/* Field Archived Content */
.form-item-field-archived-content-und {
  margin-top: 0px;   
}

/* Field Featured Image */

#node-edit .form-item-field-featured-image-und-0-title label {
font-weight: normal;
float: left;
margin: 4px 10px 0 0;
}

#node-edit #edit-field-featured-image-und-0-title {
width: 180px;
}

/* Admin Menu Override */

ul li.admin-menu-search {
  display: none;
}