#panelizer-settings-form .tabs {
  position: relative;
  right: 0px;
}

.form-item .form-autocomplete {
 padding: 0px 4px;
}

#gcwu-srchbx label {
  height: auto !important;
  width: auto !important;
  overflow: visible !important;
}

.krumo-footnote img {
  width: auto;
}

/* Field Archived Content */
.form-item-field-archived-content-und {
  margin-top: 0px;   
}