/**
 * Default image styling
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/**
 * Image styling 
 */
div img.wetkit-image-full {
  max-width: 100%;
  width: 100%;
  height: auto;
}

div img.wetkit-image-half {
  max-width: 50%;
  width: 50%;
  height: auto;
  float: left;
  margin-right: .75em;
  margin-bottom: .5em;
  margin-top: .5em;
}

div img.wetkit-image-quarter {
  max-width: 25%;
  width: 25%;
  height: auto;
  float: left;
  margin-right: .5em;
  margin-bottom: .25em;
  margin-top: .25em;
}

div img.wetkit-image-featured {
  max-width: 100%;
  height: auto;
}

div img.wetkit-image-thumbnail {
  max-width: 100%;
  height: auto;
}

div img.wetkit-image-square {
  max-width: 100%;
  height: auto;
}