#panels-dnd-main .region {margin-bottom: 5px}
#panels-dnd-main .region-wetkit-two-33-66-first {}
#panels-dnd-main .region-wetkit-two-33-66-second {}
#panels-dnd-main .region-wetkit-two-33-66-bottom {clear: both}

#panels-dnd-main #wb-main {width:75%; float: right;}
#panels-dnd-main #wb-sec-in {margin: 0px; width: 24.5%; float: left; margin-right: 0.5%; margin-bottom: 5px}
#panels-dnd-main #wb-sec {float: none;}
#panels-dnd-main #wb-sec h2 {overflow: visible; position: relative; height: auto !important; width: auto !important;}

/* Two col sprite */
[id^=edit-two] .form-type-radio label {background: url(wetkitcol-sprite.png)}
.form-type-radio label[for$=wetkit-50] {background-position: 0 0}
.form-type-radio label[for$=wetkit-66-33] {background-position: -41px 0}
.form-type-radio label[for$=wetkit-two-33-66] {background-position: -82px 0}
.form-type-radio label[for$=wetkit-brick] {background-position: -123px 0}
.form-type-radio label[for$=wetkit-brick-stack] {background-position: -164px 0}
.form-type-radio label[for$=wetkit-50-stack],
.form-type-radio label[for$=wetkit-66-33-stack],
.form-type-radio label[for$=wetkit-two-33-66-stack] {background-position: -205px 0}
